<main id="Login">
	<div ng-if="!passwordReset.success">
		<form name="PasswordResetForm" ng-submit="passwordReset.submit()">
			<h3 class="text-center text-white">Please reset your password</h3>
			<div class="form-group">
				<div class="form-group placeholder-label">
					<label for="Password">Password</label>
					<input type="password"
						   ng-pattern="/(?=^.{8,100}$)((?=.*[a-zA-Z])(?=.*\d)|(?=.*[a-zA-Z])(?=.*\W)|(?=.*\W)(?=.*\d)).*$/"
						   pattern-err-type="registerPasswordPattern" placeholder="New Password" class="form-control" id="Password" ng-model="passwordReset.newPassword" required/>
				</div>
				<div class="form-group placeholder-label">
					<label for="Password">Confirm Password</label>
					<input type="password" compare-to="passwordReset.newPassword" compareTo-err-type="registerConfirmPassword" placeholder="Type it again..." class="form-control" id="PasswordConfirm" ng-model="passwordReset.newPasswordConfirm" required/>
				</div>
			</div>
			<button type="submit" class="btn btn-block btn-primary">Submit</button>
		</form>
	</div>
	<div ng-if="passwordReset.success">
		<blockquote>
			<p class="lead text-white">Success! <a href="" class="text-white" ui-sref="login">Login</a>  with your new password.</p>
		</blockquote>
	</div>

</main>
