@navbar-default-bg: @four51-blue;
@navbar-default-border: darken(@four51-blue, 5);
@navbar-default-link-color: lighten(@four51-blue, 30);
@navbar-default-link-hover-color: white;
@navbar-default-link-hover-bg: transparent;
@navbar-default-link-active-bg: @four51-blue;
@navbar-default-link-active-color: white;
@navbar-height:60px;