<form id="DemoRequestForm" name="DemoRequestForm" ng-submit="demoRequest.submit()">
	<h3 class="page-header">Request a free demo!</h3>
	<div class="form-group">
		<label>First Name</label>
		<input type="text" class="form-control" ng-model="demoRequest.info.first_name" required/>
	</div>

	<div class="form-group">
		<label>Last Name</label>
		<input type="text" class="form-control" ng-model="demoRequest.info.last_name" required/>
	</div>

	<div class="form-group">
		<label>Email Address</label>
		<input type="email" class="form-control" ng-model="demoRequest.info.email" required/>
	</div>

	<div class="form-group">
		<label>Company Name</label>
		<input type="text" class="form-control" ng-model="demoRequest.info.company" required/>
	</div>

	<div class="form-group">
		<label>Phone</label>
		<input type="tel" class="form-control" ng-model="demoRequest.info.phone"/>
	</div>
	<button class="btn btn-primary" type="submit" ng-disabled="DemoRequestForm.$invalid">Request Demo</button>
</form>