<div id="ConsoleContainer">
	<aside id="ConsoleMenu" ng-if="console.ActiveContext">
		<ul class="section-list">
			<li ng-repeat-start="section in console.Sections">
				{{section}}
			</li>
			<div ng-repeat-end>
				<ul class="resource-list">
					<li ng-repeat="resource in console.Resources | filter:{Section:section}">
						<a href="" ng-class="{active:console.SelectedResource.Name == resource.Name}" ng-click="console.SelectResource(this)">{{resource.Name}}</a>
					</li>
				</ul>
			</div>
		</ul>
	</aside>

	<article id="Intro" class="container" ng-if="!console.SelectedResource">
		<h3 class="page-header text-center"><i class="fa fa-tools"></i>OrderCloud Console</h3>
		<p><b>Welcome to the OrderCloud API Console!</b>  The purpose of this tool is to give developers an easy way to instantly access and/or alter important data during the development process.  It is also useful for new OrderCloud developers looking to get an idea of how the our RESTful API is structured through an interactive UI.</p>
		<p>Begin by choosing from one of your available instances below.  This will give the console a "context" in which it can function.  You can change your active context to easily switch between different instances at any time. Choose from any of the OrderCloud resources on the left part of the console and specify an endpoint in the drop-down. Fill out the necessary parameters and request bodies then click "Send". This will make the specified API call within the active instance and present you with OrderCloud's response data on the right.</p>
		<p class="alert alert-danger">Keep in mind <b>the console <em>will</em> alter your data</b>, and changes will be immediately reflected in any application using the same instance.</p>
		<hr/>
		<div id="ContextSettings">
			<form name="contextFilterForm">
				<div class="form-group">
					<input type="text" class="form-control" aria-label="Find an instance" placeholder="Find an instance..." ng-model="console.contextSearchTerm"/>
				</div>
			</form>
			<ul class="list-group">
				<li class="list-group-item context-list-item" ng-repeat="context in console.AvailableContexts | filter:console.contextSearchTerm" ng-class="{active:console.ActiveContext == context, selected: console.SelectedContext == context}">
					<div class="context-info">
						<b>{{context.CompanyName}}</b> <br/>
						<small class="text-muted">{{context.ClientID}}</small>
					</div>
					<div class="context-claims">
						<span class="text-muted"><i class="fa fa-lock"></i> {{context.Claims}}</span>
					</div>
					<button class="btn btn-success" ng-click="console.updateContext(context)" ng-disabled="console.ActiveContext == context">Activate</button>
				</li>
			</ul>
		</div>
	</article>
	<div id="Console" ng-if="console.SelectedResource">
		<article id="Request">
			<div id="ActiveContext" uib-collapse="console.ContextMenuOpen">
				<ul class="list-group">
					<li class="list-group-item context-list-item">
						<div class="context-info">
							<b>{{console.ActiveContext.CompanyName}}</b> <br/>
							<small class="text-muted">{{console.ActiveContext.ClientID}}</small>
						</div>
						<div class="context-claims">
							<span class="text-muted"><i class="fa fa-lock"></i> {{console.ActiveContext.Claims}}</span>
						</div>
						<button class="btn btn-default" ng-click="console.ContextMenuOpen = true">Switch Context</button>
					</li>
				</ul>
			</div>
			<div id="ContextSettings" uib-collapse="!console.ContextMenuOpen">
				<form name="contextFilterForm">
					<div class="form-group input-group">
						<input type="text" class="form-control" aria-label="Find an instance" placeholder="Find an instance..." ng-model="console.contextSearchTerm"/>
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="console.ContextMenuOpen = false; console.contextSearchTerm = '';">Cancel</button>
						</span>
					</div>
				</form>
				<ul class="list-group">
					<li class="list-group-item context-list-item" ng-repeat="context in console.AvailableContexts | filter:console.contextSearchTerm">
						<div class="context-info">
							<b>{{context.CompanyName}}</b> <br/>
							<small class="text-muted">{{context.ClientID}}</small>
						</div>
						<div class="context-claims">
							<span class="text-muted"><i class="fa fa-lock"></i> {{context.Claims}}</span>
						</div>
						<button class="btn" ng-click="console.updateContext(context)" ng-disabled="console.ActiveContext == context" ng-class="{'btn-success':console.ActiveContext != context, 'btn-default': console.ActiveContext == context}">{{console.ActiveContext == context ? 'Activated' : 'Activate'}}</button>
					</li>
				</ul>
			</div>
			<div uib-collapse="console.ContextMenuOpen">
				<h3 class="page-title">
					{{console.SelectedResource.Name}}
					<small ng-bind="console.SelectedEndpoint.Name"></small>
				</h3>
				<section class="console-selector">
				<span uib-dropdown>
				  <a href uib-dropdown-toggle>
					  {{console.SelectedEndpoint.ID || 'Method'}} <span class="caret"></span>
				  </a>
				  <ul uib-dropdown-menu>
					  <li ng-repeat="endpoint in console.SelectedResource.Endpoints" ng-class="{active:console.SelectedEndpoint.ID == endpoint.ID}">
						  <a href ng-click="console.SelectEndpoint(this)">{{endpoint.ID}}</a>
					  </li>
				  </ul>
				</span>
					<pre>{{console.SelectedEndpoint.UriTemplate}}</pre>
					<button class="btn btn-primary" ng-click="console.Execute()" ng-disabled="!console.SelectedEndpoint">Send <i class="fa fa-send-o"></i></button>
				</section>
				<section id="Configuration" ng-if="console.SelectedEndpoint">
					<table class="table" ng-if="console.SelectedEndpoint.Parameters.length">
						<thead>
						<tr>
							<th>Name</th>
							<th>Type</th>
							<th>Value</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="param in console.SelectedEndpoint.Parameters | filter:{Name: '!filters'}">
							<td>{{param.Name}} <small class="text-muted" ng-if="!param.Required">(optional)</small></td>
							<td><div class="label" ng-class="{
								'label-primary': param.Type == 'string',
								'label-warning': param.Type == 'boolean',
								'label-info': param.Type == 'integer'
							}">{{param.Type}}</div></td>
							<td>
								<div ng-class="{'input-group': param.Lockable}">
									<input type="{{param.Type == 'integer' ? 'number' : 'text'}}" class="form-control"
										   uib-tooltip="{{param.Description}}"
										   tooltip-trigger="focus"
										   ng-model="param.Value" ng-required="param.Required" ng-disabled="console.isLocked(param.Name)"/>
									<span class="input-group-btn" ng-if="param.Lockable">
										<button class="btn btn-default" ng-click="console.isLocked(param.Name) ? console.unlockParam(param.Name) : console.lockParam(param.Name, param.Value)" ng-disabled="!param.Value" uib-tooltip="{{console.isLocked(param.Name) ? 'Unlock Value' : 'Lock Value'}}" tooltip-append-to-body="true" tooltip-placement="left">
											<i class="fa" ng-class="{'fa-lock': console.isLocked(param.Name), 'fa-unlock-alt': !console.isLocked(param.Name)}"></i>
										</button>
									</span>
								</div>
							</td>
						</tr>
						</tbody>
					</table>
					<table class="table" ng-if="console.SelectedEndpoint.Filters">
						<colgroup>
							<col/>
							<col/>
							<col style="width:50px;"/>
						</colgroup>
						<thead ng-if="console.SelectedEndpoint.Filters.length">
						<tr>
							<th>Key</th>
							<th colspan="2">Value</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="filter in console.SelectedEndpoint.Filters">
							<td><input class="form-control" type="text" ng-model="filter.Key" /></td>
							<td><input class="form-control" type="text" ng-model="filter.Value" /></td>
							<td><button class="btn btn-danger btn-block"><i class="fa fa-minus-circle" ng-click="console.removeFilter($index)"></i></button></td>
						</tr>
						<tr>
							<td colspan="3" ng-click="console.addNewFilter()"><button class="btn btn-default btn-block"><i class="fa fa-plus"></i> Add New Filter</button></td>
						</tr>
						</tbody>
					</table>
					<div ng-if="console.SelectedEndpoint.RequestBody">
						<div class="labeled-divider">
							<span>Request Body</span>
							<hr/>
						</div>
						<div ui-ace="{
						onLoad: console.setMaxLines,
						useWrapMode : true,
						theme:'twilight',
						mode: 'json',
						tabSize: '4',
						useSoftTabs: true,
						showPrintMargin: false
					}" ng-model="console.SelectedEndpoint.RequestBody.Value">
						</div>
					</div>
				</section>
			</div>
		</article>
		<div id="Response">
			<div id="ResponseList">
				<div class="log-item-container" ng-repeat="response in console.Responses | orderBy:'+':true">
					<div class="log-item">
						<div class="apiRequestDisplay" ng-class="{success: (response.status < 300 && response.status >= 200), danger: (response.status >= 300 || response.status < 200), disabled: response != console.SelectedResponse}" ng-click="console.SelectResponse(response)">
							<pre>{{response.config.method}}</pre>
							<pre><i class="fa pull-right" ng-class="{'fa-check':(response.status < 300 && response.status >= 200), 'fa-warning': (response.status >= 300 || response.status < 200)}"></i>{{(response.config.url | OCRoutingUrl) + (response.config.params | OCUrlParams)}} <small>{{response.status + ' ' + response.statusText}}</small></pre>
						</div>
					</div>
				</div>
			</div>
			<div id="ResponseBody" readonly ui-ace="{
				useWrapMode : true,
				theme:'twilight',
				mode: 'json',
				tabSize: '4',
				useSoftTabs: true,
				showPrintMargin: false,
				showGutter: false
			}" ng-model="console.SelectedResponse.data"></div>
		</div>
	</div>
</div>

