<article>
    <header class="dc-header" ui-sref="base.support">
        <div class="container">
            <h2>Support</h2>
        </div>
    </header>
    <div class="container">
        <p>Have a question? The support forum is a great way to interact with other OrderCloud members and employees. It is also a great place to share experiences and voice your opinions.</p>
        <p>Ask a new question, share an opinion, or join in an ongoing discussion. You can also subscribe to the OrderCloud discussion in order to receive email notifications when new posts are made.</p>
        <disqus disqus-shortname="ordercloud" disqus-identifier="ordercloud" disqus-url="{{support.url}}" disqus_remote_auth_s3="{{support.disqus_remote_auth_s3}}" disqus_api_key="{{publicKey}}"></disqus>
    </div>
</article>