<div id="integrations">
    <article class="container " >
        <h1 class="page-header text-center"><strong>Four51 SDK Overview</strong></h1>
        <h2>AngularJs OrderCloud SDK</h2>

        <pre><code class="language-sh">
        $ bower install ordercloud-angular-sdk --save-dev
        </code></pre>

        <p>Or just include the output in the dist folder directly in your project.</p>

        <h2>REQUIREMENTS</h2>

        <p>This sdk is to always be used in conjunction with another angular project.
        You must also define some variable constants in the referencing application.</p>
            
        <pre><code class="language-sh">
        angular.module('orderCloud', [])
        .constant('clientid', '...')
        .constant('authurl', '...')
        .constant('apiurl', '...')
        </code></pre>

        <p>In some cases, your app will need to access multiple buyer companies, so the buyerid is not stored as a constant. Instead, the buyerid is stored in an AngularJS factory named BuyerID within this sdk.
        In order to set an initial/default buyerid, add a run function in addition to the above constants.</p>

        <pre><code class="language-sh">
        .run(
            function(BuyerID) {
                BuyerID.Set('BUYERIDHERE');
            }
        )
        </code></pre>

        <p>The BuyerID service can be used within any AngularJS controller and/or factory within your application in order to change which buyerid should be used.
        Simply inject the BuyerID factory into your controller or factory and call BuyerID.Set('NEWIDHERE');.
        If needed, BuyerID.Get() will return the buyerid that is currently set.</p>

        <hr />

        <h2>Cache</h2>

        <p>An implementation of localForage <a href="https://github.com/ocombe/angular-localForage">(Github)</a>. This factory is a wrapper for their primary functions.
        This factory is not the implementation of the api caching mechanism. Those are built directly into the resource factories.</p>

        <h2>Extending the OrderCloud Data Model</h2>

        <p>Many times, object(s) returned from the OrderCloud API require additional data points derived from the provided information in order to more easily and elegantly drive UI functionality. One simple example of this is to create a FullName property on User objects derived from the FirstName and LastName properties.
        Similarly, another example would be to create a FullAddress property on an Address object by combining the AddressName, Street1, Street2, City, State, Zip, and Country properties. Additionally, functions can be extended onto data model objects in order to drive such AngularJS directives as ng-show, ng-if, etc.

        When the $promise is returned from AngularJS $resource factory, the OrderCloud-Angular-SDK will attempt to locate and inject an 'Extend' factory from your AngularJS application. If this factory exists and a method within the factory with the respective OrderCloud end point exists, you can proceed to extend the data model.
        A list of available end points and a simple example are located below.
        </p>

        <pre><code class="language-sh">
        angular.module('myApp', [])
        .factory('Extend', extendFactory)

            function extendFactory() {
                var service = {
                    Users: _users
                };

            function _users(user) {
                user.FullName = user.FirstName + ' ' + user.LastName;
            }

            return service;
        }
        </code></pre>
    </article>
    <div class="container">
        <div class="row">
            <aside class="col-sm-3 docs-nav">
                <ul class="section-list">
                    <li ng-class="{active: sdk.activeSection == section}" ng-repeat-start="section in sdk.content.Sections">
                        <a ng-click="sdk.activeSection = section">{{section}}</a>
                    </li>
                    <div ng-repeat-end>
                        <ul class="resource-list">
                            <li class="resource-list-item" ng-click="sdk.activeResource = resource" ng-repeat="resource in sdk.content.Resources | filter:{Section:section}">
                                {{resource.Name}}
                            </li>
                        </ul>
                    </div>
                </ul>
            </aside>
            <div class="col-sm-9">
                <h3 class="page-title">{{sdk.activeResource.Name}}</h3>
                <p ng-repeat="line in sdk.activeResource.Comments" ng-bind-html="line | markdown"></p>
                <accordion>
                    <accordion-group heading="{{endpoint.Name}}" ng-repeat="endpoint in sdk.activeResource.Endpoints">
                        <pre>{{endpoint.CodeSample}}</pre>
                        <div ng-if="endpoint.Parameters.length">
                            <h6>Parameters:</h6>
                            <table class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Required</th>
                                    <th>Description</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="param in endpoint.Parameters">
                                    <td>{{param.Name}} <small class="text-muted" ng-if="!param.Required">(optional)</small></td>
                                    <td><div class="label" ng-class="{
                                                'label-primary': param.Type == 'string',
                                                'label-warning': param.Type == 'boolean',
                                                'label-info': param.Type == 'integer'
                                            }">{{param.Type}}</div></td>
                                    <td>{{param.Required}}</td>
                                    <td>{{param.Description}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div ng-if="endpoint.RequestBody.Sample && endpoint.RequestBody.Sample != 'null'">
                                    <h5>Request Body Sample:</h5>
                                    <div readonly ui-ace="{
                                                onLoad: sdk.setMaxLines,
                                                useWrapMode : true,
                                                theme:'twilight',
                                                mode: 'json',
                                                tabSize: '4',
                                                useSoftTabs: true,
                                                showPrintMargin: false
                                            }" ng-model="endpoint.RequestBody.Sample"></div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <h5><b>Response Status: <span class="text-danger">{{endpoint.ResponseStatus}}</span></b></h5>
                                <div ng-if="endpoint.ResponseBody.Sample && endpoint.ResponseBody.Sample != 'null'" readonly ui-ace="{
                                                                        onLoad: sdk.setMaxLines,
                                                                        useWrapMode : true,
                                                                        theme:'twilight',
                                                                        mode: 'json',
                                                                        tabSize: '4',
                                                                        useSoftTabs: true,
                                                                        showPrintMargin: false
                                                                    }" ng-model="endpoint.ResponseBody.Sample"></div>
                            </div>
                        </div>
                    </accordion-group>
                </accordion>
            </div>
        </div>
    </div>
</div>

