<article id="HomePage">
    <section id="Carousel-1">
        <uib-carousel interval="home.carouselInterval" no-wrap="false" active="2">
            <uib-slide ng-repeat="slide in home.slides1">
                <div class="carousel-slide" ng-style="{'backgroundImage': 'url(\'' + slide.image + '\')'}">
                    <div class="carousel-slide-content">
                        <h2 ng-bind="slide.title"></h2>
                        <p class="lead" ng-bind="slide.description"></p>
                        <button class="btn btn-lg btn-primary" ng-if="slide.button.action" ng-click="slide.button.action()">{{slide.button.title}}</button>
                        <a class="btn btn-lg btn-primary" ng-if="slide.button.link" href="{{slide.button.link}}">{{slide.button.title}}</a>
                        <button class="btn btn-lg btn-primary" ng-if="slide.button.stateRef" ui-sref="{{slide.button.stateRef}}">{{slide.button.title}}</button>
                        <div ng-if="slide.button.title == 'REQUEST A DEMO'">
                            <script data-leadbox="146f1c9f3f72a2:14a01b56f346dc" data-url="https://four51.leadpages.co/leadbox/146f1c9f3f72a2%3A14a01b56f346dc/5631725669449728/" data-config="%7B%7D" type="text/javascript" src="https://four51.leadpages.co/leadbox-926.js"></script>
                        </div>
                        <script></script>
                    </div>
                </div>
            </uib-slide>
        </uib-carousel>
    </section>
    <section id="OrderCloudBlurbs">
        <div class="container">
            <h2 class="text-center">Elegant, powerful, and easy to use cloud-based platform</h2>
            <p class="lead text-center">
                Create, configure & customize B2B eCommerce sites faster, easier & at lower cost. Solve complex order management challenges quickly by leveraging our cloud-based platform.
            </p>
            <hr/>
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <figure>
                        <img src="assets/images/Inline_Editors.svg" alt=""/>
                    </figure>
                    <h4>Component Based Development</h4>
                    <p>Get to your custom solution faster by leveraging our core acceleration components. Best practices, your way.</p>
                </div>
                <div class="col-sm-6 col-md-3">
                    <figure>
                        <img src="assets/images/Package_manager.svg" alt=""  />
                    </figure>
                    <h4>Rapid Development Tools</h4>
                    <p>Leverage seeds, SDK's, Documentation and Courses to build on OrderCloud quickly.</p>
                </div>
                <div class="col-sm-6 col-md-3">
                    <figure>
                        <img src="assets/images/Live_Preview.svg" alt=""  />
                    </figure>
                    <h4>Extendable Data Model</h4>
                    <p>Built on 16 years solving complex eCommerce and order management challenges. Feature rich and robust.</p>
                </div>
                <div class="col-sm-6 col-md-3">
                    <figure>
                        <img src="assets/images/cloud.svg" alt=""  />
                    </figure>
                    <h4>Development Made Easy</h4>
                    <p>Developers can create custom code, debug the code, check it into a common source code repository and deploy it to the test, staging or production environments.  </p>
                </div>
            </div>
        </div>
    </section>
    <section id="Carousel-2">
        <uib-carousel interval="home.carouselInterval" no-wrap="false">
            <uib-slide ng-repeat="slide in home.slides2" active="slide.active">
                <div class="carousel-slide" ng-style="{'backgroundImage': 'url(\'' + slide.image + '\')'}">
                    <div class="carousel-slide-content">
                        <h3 ng-bind="slide.title"></h3>
                        <p>{{slide.description}}</p>
                    </div>
                </div>
            </uib-slide>
        </uib-carousel>
    </section>
    <section id="OrderCloudStories">
        <div class="container hidden-sm hidden-xs">
            <h2 class="text-center"><b>OrderCloud Stories</b></h2>
            <div class="row hidden-xs">
                <div class="col-md-4">
                    <div class="ordercloud-story">
                        <figure>
                            <img src="assets/images/papa_johns.png" class="img-responsive" alt=""  />
                        </figure>
                        <h3>Papa John's</h3>
                        <p class="lead"><strong>15,000+ orders a month? No problem.</strong></p>
                        <p>Papa John's, founded in 1985, has grown to over 20,700 employees who operate and franchise more than 4,000 delivery and carryout pizza restaurants worldwide. In order to systematize and make these franchisees more efficient, they were in need of a serious operational makeover.</p>
                        <a class="btn btn-primary" href="http://public.four51.com/papa-johns-dev"> Learn more</a>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="ordercloud-story">
                        <figure>
                            <img src="assets/images/turtle-wax-logo.png" class="img-responsive"  />
                        </figure>
                        <h3>Turtle Wax</h3>
                        <p class="lead"><strong>Eliminate fax and manual order entry. <br/> In the Cloud.</strong></p>
                        <p>Turtle Wax is a world leader in car care with sales in over 90 countries. Founded more than 70 years ago, the company is recognized for its continuous innovation in manufacturing appearance and performance car care products.But despite it's success, Turtle Wax had a problem. </p>
                        <a class="btn btn-primary" target="_blank" href="http://public.four51.com/turtle-wax-dev">Learn more</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ordercloud-story">
                        <figure>
                            <img src="assets/images/burroughs_logo.png" class="img-responsive" alt=""  />
                        </figure>
                        <h3>Burroughs</h3>
                        <p class="lead"><strong>Massive Cost Savings? You bet.</strong></p>
                        <p>Burroughs Payment Systems was looking for a solution to support worldwide sales of Burroughs image-processing technology through their network of resellers.</p>
                        <a class="btn btn-primary" href="http://public.four51.com/burroughs-dev">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="Carousel-3" class="visible-xs visible-sm">
            <uib-carousel interval="home.carouselInterval" no-wrap="false">
                <uib-slide ng-repeat="slide in home.mobileslides" active="slide.active">
                    <div class="ordercloud-story">
                        <figure>
                            <img ng-src="{{slide.image}}" class="img-responsive">
                        </figure>
                        <h3>{{slide.title}}</h3>
                        <p class="lead"><b>{{slide.description}}</b></p>
                        <p>{{slide.text}}</p>
                        <a class="btn btn-primary" target="_blank" href="{{slide.link}}">Learn More</a>
                    </div>
                </uib-slide>
            </uib-carousel>
        </div>
    </section>
</article>
<footer id="OrderCloudFooter">
    <div class="container">
        <div class="text-center">
            <h4 class="text-center"><b>Four51 powers B2B eCommerce for thousands of businesses and millions of users worldwide.</b></h4>
            <a class="btn btn-white" href="https://four51.leadpages.co/leadbox/1418931f3f72a2%3A14a01b56f346dc/5663052624035840/">Request Free Demo</a><script data-leadbox="1418931f3f72a2:14a01b56f346dc" data-url="https://four51.leadpages.co/leadbox/1418931f3f72a2%3A14a01b56f346dc/5663052624035840/" data-config="%7B%7D" type="text/javascript" src="https://four51.leadpages.co/leadbox-926.js"></script>
        </div>
        <div class="row">
            <div class="col-sm-4" id="Resources">
                <p class="lead">Resources</p>
                <div class="row">
                    <div class="col-sm-6">
                        <a class="text-white" href="" ui-sref="base.seed">AngularJS Seed</a><br/>
                        <a class="text-white" href="" ui-sref="base.sdk">AngularJS SDK</a>
                    </div>
                    <div class="col-sm-6">
                        <a class="text-white" href="" ui-sref="base.components">Components Overview</a><br/>
                        <a class="text-white" href="" ui-sref="base.integrations">Integrations Overview</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" id="Social">
                <p class="lead">Social</p>
                <a target="_blank" href="https://twitter.com/Four51inc"><i class="fa fa-twitter"></i></a>
                <a target="_blank" href="https://www.facebook.com/Four51/"><i class="fa fa-facebook"></i></a>
                <a target="_blank" href="https://www.youtube.com/channel/UCYWvk0ccQetjEYjW8pa_QkA"><i class="fa fa-youtube-play"></i></a>
                <a target="_blank" href="https://www.linkedin.com/company/four51"><i class="fa fa-linkedin"></i></a>
            </div>
            <div class="col-sm-4" id="Four51">
                <p class="lead">Find more about</p>
                <figure>
                    <img class="img-responsive" src="assets/images/four51.png" alt=""/>
                </figure>
                <a class="btn btn-sm btn-link" href="http://public.four51.com/"> CLICK HERE</a>
            </div>
        </div>
        <div class="text-center">
            <a class="" ui-sref="base.home"><ordercloud-logo data-width="275px" data-height="60px" data-color="#FFFFFF"></ordercloud-logo></a>
            <small class="text-white">Copyright@Four51, Inc.2015 400N 1st Avenue, Suite 200, Minneapolis, MN 55401</small>
        </div>
    </div>
</footer>