.learning-container {
  background-color: @gray-lighter;
  .container {
	@media (max-width: @screen-xs-max) { max-width: 450px; min-width: 380px; }
	@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { max-width: 1050px; }
	@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { max-width: 1290px; }
  }
}
.learning-resources {
  display: flex;
  flex-flow: row wrap;
  margin: 25px 0;
  .learning-card {
	position: relative;
	width: 31%;
	margin: 1%;
	margin-bottom: 20px;
	padding: 10px;
	height: 450px;
	box-shadow: 2px 2px 2px 2px rgb(152, 152, 152);
	border: 3px solid @four51-blue;
	background-color: white;
	border-radius: 8px;
	@media(max-width: 990px) {
	  width: 48%;
	  margin: 1%;
	  margin-bottom: 20px;
	}
	@media(max-width: 770px) {
	  width: 98%;
	  margin: 1%;
	  margin-bottom: 20px;
	}
	.img-container {
	  position: relative;
	  background-size: 100%;
	  background-repeat: no-repeat;
	  width: 100%;
	  height: 215px;


	  @media (max-width: 1200px) {
		height: 175px;
	  }
	  @media (max-width: 945px) {
		height: 185px;
	  }
	}
	.container-background-color {
	  width: 100%;
	  height: calc(100%);
	  background-color: @four51-blue;
	  opacity: .5;
	}
	.container-text {
	  top: 0;
	  width: 100%;
	  position: absolute;
	  color: white;
	  font-size: 3em;
	  text-align: center;
	  padding: 68px 0;
	  @media (max-width: 1190px) {
		font-size: 2.3em;
	  }
	}
	.course-caption {
	  margin: 3px;
	  text-align: center;
	  p {
		margin-top: 20px;
		padding: 0 20px;
		height: 70px;
	  }
	  .divider {
		margin: 25px 15px;
		border-bottom: 1px solid @gray-light;
		border-top: 1px solid @gray-light;
		border-radius: 20px;
	  }
	}
	.btn.btn-primary {
	  position: absolute;
	  bottom: 10px;
	  left: 10px;
	  right: 10px;
	  box-shadow: 0 0 2px rgb(152, 152, 152);
	  background-color: @four51-blue;
	  border: transparent;
	  border-radius: 30px;
	  color: white;
	  font-weight: 400;
	}
  }

}

.course-summary-header.jumbotron {
  position: relative;
  padding: 0;
  .container-fluid {
	padding: 0;
  }
  .well {
	position: absolute;
	right: 350px;
	left: 350px;
	top: 0;
	padding: 10px;
	background-color: transparent;
	border: transparent;
	text-align: center;
	box-shadow: none;
	color: @gray-lighter;
	font-weight: 600;
	font-size: 3em;
	font-family: Lato;
	@media(max-width: 1750px) {
	  padding: 5px;
	  font-size: 2em;
	  right: 250px;
	  left: 250px;
	}
	@media(max-width: 1250px) {
	  padding: 0;
	  font-size: 1.5em;
	  right: 50px;
	  left: 50px;
	}
  }
}
.courses-container {

  .course-summary {
	padding:15px;
	border:1px solid @list-group-border;
	margin-bottom:5px;

	&:hover {
	  background-color:@list-group-hover-bg;
	}
	figure {
	  max-width:100px;
	}
	.course-info {
	  padding:15px;
	}
	.progress-title {
	  text-align: right;
	}
	h4 {
	  margin:0;
	}
  }
}

#CourseHome {
  header.jumbotron {
	background-color: darken(@gray-lighter, 0);

  }
  .container .jumbotron {
	h3 {
	  text-align: center;
	}
  }
  .course-class-list .completed {
	background-color: lighten(@four51-blue, 20);
	.pull-right {
	  padding-top: 10px;
	  font-size: 1.2em;
	  color: @four51-navy;
	}
	.fa {
	  padding-top: 10px;
	}

  }
}

#Class {
  nav {
	background-color: darken(@gray-darker, 5);
  }
  .navbar-brand {
	padding: 15px 15px;
  }
  .navbar-fixed-bottom {
	height: 51px;
	min-height: 51px;
  }
  &:not(.interactive) {
	max-height:~'calc(100vh - 111px)';
	overflow-y:auto;
  }
  &.interactive {
	header.jumbotron {
	  padding:15px;
	}
  }
  .context-user {
	padding: 15px;
	cursor: default;
	font-size: 1.1em;
	color: @alert-danger-text;
  }
  .context-user.contextSet {
	color: @alert-info-text;
  }
  .container-fluid {
	margin-right: 12px;
  }
  .icon-divider {
	margin: 17px 15px 0 0;
	padding: 10px 10px 10px 0;
	border-right: 1px solid @gray-light;
  }
  .btm-nav-icon {
	padding: 6px 10px 6px 6px;
	>a {
	  color: @gray-lighter;
	  font-size: 2em;
	}
	.dropup-content {
	  background-color: @gray-lighter;
	  margin: 0 2px 12px 0;
	  width: 290px;
	  padding: 10px;
	  cursor: default;
	  .col-xs-12 {
		padding: 0;
	  }
	  .divider {
		background-color: lighten(@gray-light, 30);
		border-radius: 6px;
		margin: 10px 5px;
		height: 2px;
	  }
	  .oc-vars {
		max-height: 250px;
		overflow: auto;
		margin-bottom: 5px;
		.col-xs-1 {
		  padding: 6px 0 0 0;
		}
		a i {
		  font-size: 17px;
		}
		i.fa-remove {
		  color: lighten(red, 10);
		}
		i.fa-check {
		  color: lighten(green, 10);
		}
	  }
	  .oc-var {
		padding: 4px 0;
		text-align: center;
	  }
	  .left-icon {
		text-align: left;
	  }
	  .right-icon {
		text-align: right;
	  }
	  .oc-var-key {
		color: white;
		border: 1px solid @four51-blue;
		background-color: @four51-blue;
		font-size: 14px;
	  }
	  .oc-var-val {
		color: white;
		border: 1px solid darken(@four51-blue, 10);
		background-color: darken(@four51-blue, 10);
		font-size: 14px;
	  }
	  .oc-var-input-key {
		background-color: lighten(@four51-blue, 20);
		border-right: transparent;
		color: @gray-darker;
	  }
	  .oc-var-input-val {
		background-color: lighten(@four51-blue, 10);
		color: @gray-darker;
	  }
	  .add-var {
		text-align: center;
		font-size: 5px;
		cursor: default;
		i {
		  cursor: pointer;
		  color: lighten(green, 10);
		}
	  }
	  .var-inputs {
		padding: 5px 0;
		.var-input {
		  padding: 4px 12px;
		  border-radius: 0;
		  border: 1px solid #cccccc;
		}
		.var-input:first-of-type {
		  background-color: lighten(@four51-blue, 20);
		  border: 1px solid @four51-blue;
		  color: @gray-darker;
		}
		.var-input:last-of-type {
		  background-color: lighten(@four51-blue, 10);
		  color: @gray-darker;
		  border: 1px solid @four51-blue;
		  border-left: transparent;
		}
		.col-xs-1 {
		  padding: 6px 0 0 0;
		}
		.var-input-icons {
		  a i {
			font-size: 17px;
			color: lighten(red, 10);
		  }
		  a .fa-check {
			color: lighten(green, 10);
		  }
		}

	  }

	  .icon-container {
		width: 100%;
		text-align: center;
	  }
	  i {
		color: @four51-orange;
		font-size: 5em;
	  }
	  .dropup-title {
		text-align: center;
		font-weight: 700;
		font-size: 1.2em;
		padding: 5px 0 5px 0;
		white-space: nowrap;
		margin-bottom: 15px;
	  }
	  .form-group {
		margin-bottom: 5px;
	  }
	  .form-group:last-of-type {
		margin-bottom: 20px;
	  }
	  input {
		font-size: .9em;
		text-align: center;
	  }
	  .dropup-knob {
		position: absolute;
		z-index: 500;
		bottom: -16px;
		right: 2px;
		width: 0;
		height: 0;
		border-left: 16px solid transparent;
		border-right: 16px solid transparent;
		border-top: 16px solid @gray-lighter;
		background-color: transparent;
	  }
	  .btn-block {
		width: 49%;
		margin-top: 5px;
	  }
	  .btn-danger {
		background-color: @gray-light;
		border-color: @gray-light;
	  }
	  .btn-info {
		background-color: @four51-orange;
		border-color: @four51-orange;
	  }
	}
	.oc-vars {
	  i {
		color: @four51-blue;
	  }
	}

  }
  #CourseContent {
	position: relative;
	display: flex;
	flex-direction: column;
	background-color:white;
	.course-title {
	  background-color: @gray-lighter;
	  padding: 20px 20px;
	  font-size: 2.2em;
	  font-family: Lato;

	  border-bottom: 1px solid darken(@gray-lighter, 7);
	}
	& > div:nth-child(2) {
	  flex: 1;
	  overflow: auto;
	  padding:0 @padding-base-horizontal;
	}
	code {
	  color: @four51-orange;
	  border: 1px solid lighten(@gray-light, 40);
	  padding: 0 4px;
	}
	code.var {
	  color: @four51-blue;
	}
	code.script {
	  color: @four51-navy;
	}
	code.string {
	  color: darken(@ace-green, 20);
	}
	#ClassRequirements {
	  color: white;
	  padding: 5px 10px;
	  background-color: @four51-navy;
	  a > i {
		color: white;
		font-size: 1.5em;
	  }
	  .no-count {
		width: 100%;
		background-color: #f5f5f5;
		text-align: center;
		border-radius: 4px;
		box-shadow: 0 1px 2px rgba(0, 0,  0, 0.1) inset;
		margin-bottom: 20px;
		height: 20px;
		padding-top: 2px;
		font-size: 12px;
		color: black;
	  }
	}

  }
  &.interactive {
	#ClassContainer {
	  display:flex;
	  flex-flow:row nowrap;
	  background-color:#141414;
	}
	#CourseContent,
	#InteractiveUI {
	  height:~'calc(100vh - 111px)';
	}
	#CourseContent {
	  max-width:400px;
	  min-width: 300px;
	  overflow-y:auto;
	}
	#InteractiveUI {
	  position:relative;
	  width:100%;
	  display:flex;
	  flex-flow:row nowrap;
	  & > div {
		flex:1;
	  }
	  & > button {
		position:absolute;
	  }
	  #Response {
		position: relative;
		#ResponseList,
		#ResponseBody {
		  background-color: @gray-darker;
		}
		.response-alert {
		  position: absolute;
		  right: 15px;
		  left: 15px;
		  bottom: 15px;
		  margin: 0;
		  box-shadow: 0 0 5px 5px @four51-blue;
		  background-color:@four51-blue;
		  border-color: @four51-blue;
		  color: white;
		  a {
			color: white;
		  }
		}
	  }
	}
	#ScriptInputContainer {
	  position: relative;
	  display:flex;
	  flex-flow:column nowrap;
	  min-width: 500px;
	  & > .run-button {
		position: absolute;
		bottom: 5px;
		right: 5px;
		width: 20%;
		z-index: 100000;
	  }
	  & > .script-nav {
		padding: 10px;
		.script-selector {
		  position: relative;
		  display: flex;
		  flex-direction: row;
		  width: 100%;
		  background-color: @gray-lighter;
		  .selector-prefix {
			padding: 2px 10px;
			margin: 6px 0;
			color: @gray-light;
			border-right: 1px solid @gray-light;
		  }
		  .selector-choice {
			padding: 8px 10px;
			flex: 1;
		  }
		  .selector-icon {
			padding: 8px 10px;
		  }
		  .selector-dropdown {
			position: absolute;
			top: 57px;
			left: 0;
			right: 0;
			background-color: @gray-lighter;
			z-index: 10000;
			.box-pointer {
			  position: absolute;
			  z-index: 500;
			  top: -16px;
			  right: 0;
			  width: 0;
			  height: 0;
			  border-left: 16px solid transparent;
			  border-right: 16px solid transparent;
			  border-bottom: 16px solid @gray-lighter;
			  background-color: transparent;
			}
		  }

		}
	  }
	  & > #ScriptInput {
		flex:1 0 auto;
	  }
	}
	#ScriptInput {
	  border-radius:0;
	}

	.code-block {
	  display: none;
	}
	.code-block.ActiveCodeBlock {
	  display: inherit;
	}
  }
}

.apiRequestDisplay {
  display:flex;
  flex-flow:row nowrap;
  pre {
	&:first-child {
	  border: 1px solid @brand-primary;
	  background-color:@brand-primary;
	  color:white;
	  font-weight:bold;
	  flex:1;
	  max-width:75px;
	  text-align:center;
	  .border-right-radius(0);
	}
	&:last-child {
	  flex:1;
	  border-left:none;
	  .border-left-radius(0);
	}
  }
  &.danger {
	pre {
	  border-color:@brand-danger;
	  &:first-child {
		background-color:@brand-danger;
	  }
	  &:last-child {
		color:@brand-danger;
		background-color:lighten(@brand-danger, 38);
	  }
	}
  }
  &.success {
	pre {
	  border-color:@brand-success;
	  &:first-child {
		background-color:@brand-success;
	  }
	  &:last-child {
		color: @brand-success;
		background-color:lighten(@brand-success, 38);
	  }
	}
  }
  &.disabled {
	pre {
	  border-color:@gray;
	  &:first-child {
		background-color:@gray-light;
	  }
	  &:last-child {
		color: @text-muted;
		background-color:lighten(@gray-lighter,5);
	  }
	}
  }
}

@interactive-ui-bg: #141414;
@script-nav-tabs-hover-border-color: lighten(@interactive-ui-bg, 5);
@script-nav-tabs-active-link-color: #e2e2e2;
@script-nav-tabs-active-link-bg:#424242;
@script-nav-tabs-inactive-link-bg: darken(@script-nav-tabs-active-link-bg, 12);
@script-nav-tabs-inactive-link-color: darken(@script-nav-tabs-active-link-color, 30);
@script-nav-tabs-active-link-border-color: lighten(@interactive-ui-bg, 10);
.script-nav {

  padding-top:@padding-base-horizontal;
  border-bottom: 1px solid @script-nav-tabs-inactive-link-bg;
  .nav-tabs {
	border-bottom:none;
	> li {
	  font-size: .9em;
	  padding: auto 3px;
	  margin-bottom: 0;
	  > a {
		background-color: @script-nav-tabs-inactive-link-bg;
		color: @script-nav-tabs-inactive-link-color;
		cursor: pointer;
		padding-left: 7px;
		padding-right: 7px;
		&:focus,
		&:hover {
		  border-color: @script-nav-tabs-hover-border-color;
		  background-color: darken(@script-nav-tabs-active-link-bg, 5);
		}
	  }
	  // Active state, and its :hover to override normal :hover
	  &.active > a {
		&,
		&:hover,
		&:focus {
		  color: @script-nav-tabs-active-link-color;
		  background-color: @script-nav-tabs-active-link-bg;
		  border: 1px solid @script-nav-tabs-active-link-border-color;
		  border-bottom-color: transparent;
		  cursor: default;
		}
	  }
	}
  }
}

//CLASSES

.feature-row {
  figure {
	padding:15px;
	max-width:135px;
	margin:0 auto;
	text-align:center;
	img {
	  max-width:100%;
	}
	.fa {
	  font-size:7em;
	}
  }
}


//Class Edit

#ClassEdit {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  code {
	color: @four51-orange;
	border: 1px solid lighten(@gray-light, 40);
	padding: 0 4px;
  }
  code.var {
	color: @four51-blue;
  }
  code.script {
	color: @four51-navy;
  }
  code.string {
	color: darken(@ace-green, 20);
  }
  p.class-msg {
	color: lighten(@four51-orange, 10);
  }
  .confirm-popup {
	position: fixed;
	text-align: center;
	z-index: 2000000;
	right: 5px;
	top: 105px;
	height: 150px;
	width: 200px;
	background-color: @gray-darker;
	h3 {
	  color: white;
	  margin-bottom: 30px;
	  margin-top: 10px;
	}
  }

  #SaveClass {
	background-color: lighten(red, 25);
	border-color: lighten(red, 25);
	position: fixed;
	z-index: 10000;
	top: 65px;
	right: 4px;
  }
  #ClassGeneral {
	padding-bottom: 0;
	color: white;
	height: 400px;
	background-color: @four51-navy;

	h1 {
	  font-family: Roboto;
	  text-align: center;
	}
	form {
	  padding: 25px;
	  margin: auto 30px;
	  input, textarea {
		background-color: @gray-lighter;
	  }

	}
  }
  #ClassHtml {
	border-top: 61px solid @four51-navy; //needed for scroll function with fixed nav
	height: ~'calc(100vh)';
	display: flex;
	flex-direction: row;
	align-items: stretch;
	#LivePreview {
	  flex-basis: 400px;
	  padding: 15px;
	  overflow: auto;
	}
	#HtmlEditor {
	  flex: 1;
	  display: flex;
	  flex-direction: column;
	  background-color: darken(@gray-lighter, 10);
	  h2 {
		margin-bottom: 0;
		text-align: center;
	  }
	  #EditorIDE {
		margin: 20px 250px;
		@media(max-width: 1500px) {
		  margin: 20px 100px;
		}
		@media(max-width: 1000px) {
		  margin: 10px 50px;
		}
		box-shadow: 0 0 7px 3px rgb(93, 140, 162);
		flex: 1 0 auto;
	  }
	}
  }
  #ClassHtml.static {
	#LivePreview {
	  width: inherit;
	  flex: 1;
	  .container {
		width: auto;
	  }
	}
	#HtmlEditor {
	  flex: 0.8;
	  #EditorIDE {
		margin: 20px 20px;
	  }
	}

  }
  #ClassScript {
	height: ~'calc(100vh - 61px)';
	background-color: @four51-navy;
	display: flex;
	flex-flow: row nowrap;
	h2 {
	  text-align: center;
	  color: white;
	}
	#ClassGoals {
	  flex: 1;
	  display: flex;
	  flex-flow: column nowrap;
	  .goal-section {
		margin: 0 15px;
		> h4 {
		  color: white;
		}
	  }
	  form {
		color: white;
		margin: 15px 15px;
	  }
	}
	#ScriptList {
	  flex: 1;
	  h2 {
		text-align: center;
		color: white;
	  }
	  .script-selections {
		margin: 25px 15px 15px 15px;

	  }
	  .script-option {
		background-color: @gray-lighter;

		.pull-right {
		  font-size: 1.3em;
		  padding-left: 5px;
		}

		.fa-remove {
		  color: darken(red, 20);
		}
		.fa-remove:hover {
		  color: darken(red, 30);
		}
	  }
	  .script-option:hover {
		background-color: darken(@gray-lighter, 10);
	  }
	  .script-option.active-script {
		background-color: darken(@gray-lighter, 20);
		color: lighten(@four51-navy, 10);
		span {
		  color: lighten(@four51-navy, 25);
		};
	  }
	}
	#ScriptIDE {
	  flex: 1.5;
	  display: flex;
	  background-color: @gray-light;
	  flex-flow: column nowrap;
	  h2 {
		text-align: center;
		color: white;
	  }
	  .script-editor {
		height: 100%;
		margin: 15px;

	  }
	  .script-editor.hide-scripts {
		display: none;
	  }
	  .no-script-msg {
		margin-top: 15px;
		color: darken(@gray-lighter, 20);
		text-align: center;
	  }

	}
  }
  .script-option {
	background-color: @gray-lighter;

	.pull-right {
	  font-size: 1.3em;
	  padding-left: 5px;
	}

	.fa-remove {
	  color: darken(red, 20);
	}
	.fa-remove:hover {
	  color: darken(red, 30);
	}
  }
  .script-option:hover {
	background-color: darken(@gray-lighter, 10);
  }
  .script-option.active-script {
	background-color: darken(@gray-lighter, 20);
	color: lighten(@four51-navy, 10);
	span {
	  color: lighten(@four51-navy, 25);
	};
  }
  .dropdown-menu {
	width: 100%;
	background-color: lighten(black, 20);
	border: 1px solid lighten(black, 20);
	color: white;
	box-shadow: 0 0 5px 5px @four51-blue;
	margin-bottom: 15px;
	form {
	  padding: 4px 10px;
	  margin: 0 !important;
	  .form-group:last-of-type {
		margin-bottom: 0;
	  }
	}
  }
  .add-script-btn {
	text-align: center;
	margin: 20px 0;
  }
  .frag-link {
	position: fixed;
	z-index: 100000;
	border-radius: 25px;
	opacity: .7;
	width: 75px;
	right: 10px;
  }
  #goToGeneral {
	background-color: @four51-blue;
	border-color: @four51-blue;
	bottom: 100px;
  }
  #goToHtml {
	background-color: #9c17bc;
	border-color: #9c17bc;
	bottom: 60px;
  }
  #goToScript {

	background-color: #2ca86c;
	border-color: #2ca86c;
	bottom: 20px;
  }
}



//Global

.script-option {
  cursor: pointer;
  border-bottom: 1px solid @gray-light;
  padding: 5px;
  h4 {
	margin: 5px;
  }
  span {
	color: darken(@gray-lighter, 35);
	padding: 5px;
  }
}
.script-option:hover {
  color: lighten(@four51-navy, 10);
  span {
	color: lighten(@four51-navy, 25);
  };
  background-color: darken(@gray-lighter, 10);
}


#BizCourse {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  height: ~'calc(100vh - 60px)';
  .active-class {
	color: @four51-orange;
	font-weight: 700;
  }
  .course-name {
	height: 150px;
	width: 100%;
	h2 {
	  padding-top: 40px;
	  font-size: 3em;
	}
	p {
	  padding-left: 5px;
	  color: @gray-light;
	}
	vertical-align: middle;
	padding-left: 50px;
	font-weight: 100;
	color: @four51-blue;
  }
  .course-general {
	height: 150px;
	width: 100%;
	padding-left: 50px;
  }
  .class-names {
	height: ~'calc(100vh - 210px)';
	flex: 1;
	border-top: 1px solid darken(@gray-lighter, 5);
	.class-name {
	  padding: 15px 5px;
	  border-bottom: 1px solid darken(@gray-lighter, 5);
	}
  }

  .class-editor {
	flex: 3;
	height: ~'calc(100vh - 210px)';
	z-index: 100000;
  }
  .class-content {
	padding: 8px;
	flex: 3;
	max-width: 70%;
	/*border-right: 1px solid darken(@gray-lighter, 5);
	border-left: 1px solid darken(@gray-lighter, 5);
	border-top: 1px solid darken(@gray-lighter, 5);*/
	background-color: @gray-lighter;
	.container {
	  width: auto;
	}
  }
}

#BizCourseEditor.container-fluid {
  padding: 0;
}
#BizCourseEditor {
  height: ~'calc(100vh - 60px)';
  .save-button {
	margin: 5px;
  }
  .active-class {
	color: @four51-orange;
	font-weight: 700;
  }
  .order-container {
	height: 300px;
	overflow: auto;
  }
  .course-class-order.inactive {
	background-color: lighten(red, 30);
  }
  .course-class-order.even-class {
	background-color: darken(@gray-lighter, 15);
  }
  .course-class-order {
	color: @gray-dark;
	margin: 2px;
	padding: 4px 0;
	background-color: @gray-lighter;
	.pull-right {
	  min-width: 20px;
	}
  }
  .create-class .btn {
	margin-left: 5px;
  }

  .course-name {
	height: 350px;
	width: 100%;
	line-height: 150px;
	vertical-align: middle;
	padding-left: 50px;
	font-size: 3em;
	color: @four51-blue;
  }
  .course-general {
	background-color: @four51-navy;
	color: white;
	height: ~'calc(100vh - 360px)';
	width: 100%;
  }
  .class-names {
	height: ~'calc(100vh - 61px)';
	border-top: 1px solid darken(@gray-lighter, 5);
	.class-name {
	  padding: 15px 5px;
	  border-bottom: 1px solid darken(@gray-lighter, 5);
	}
  }
  .class-editor-container {
	height: ~'calc(100vh - 61px)';
	padding: 14px;
	padding-right: 7px;
	background-color: darken(@gray-lighter, 20);
  }
  .class-editor {
	height: 100%;
  }
  .class-content-container {
	height: ~'calc(100vh - 61px)';
	padding: 14px;
	padding-left: 7px;
	background-color: darken(@gray-lighter, 20);
  }
  .class-content {
	height: 100%;
	overflow: auto;
	background-color: @gray-lighter;
	.container {
	  width: auto;
	}
  }
}

.biz-button {
  position: fixed;
  right: 45px;
  bottom: 15px;
}


#CourseAdmin {
  background-color: @gray-dark;
  .admin-sec {
	padding-bottom: 20px;
	margin-bottom: 30px;
	border-bottom: 1px solid @gray-dark;
  }
  .course-filter {
	margin: 5px 0;

  }
  .manage-courses, .create-course {
	height: ~'calc(100vh - 60px)';
	overflow: auto;
  }

  .manage-courses {
	background-color: lighten(@gray-dark, 15);
	color: white;
	span {
	  display: inline-block;
	  padding-top: 10px;
	}
	.course-list-titles {
	  padding: 10px 0;
	  background-color: @gray-dark;
	  color: @gray-lighter;
	}
	.course-list-item {
	  .confirm-btn {
		padding: 0 15px;
	  }
	  a.pull-right {
		width: 20px;
	  }

	  color: @gray-dark;
	  background-color: @gray-lighter;
	  padding: 10px 0;
	  border: 1px solid @gray-dark;
	  border-top: transparent;
	}
	.course-list-item.inactive {
	  background-color: lighten(red, 30);
	}
	.course-list {
	  max-height: 500px;


	}
  }
  .delete-course {
	height: 300px;
	button.btn-danger {
	  margin-top: 10px;
	}
  }
  .create-course {
	background-color: @gray-lighter;
  }
}
