<!--todo: move into LESS and make it into LESS CSS-->
<!--todo: obtain proper images and edited content from respective resources.-->
<style>
	.segmentOne{
		padding: 10em;
		background: #ffffff; /* Old browsers */
		background: -moz-linear-gradient(top,  #ffffff 0%, #7db9e8 73%, #7db9e8 73%, #7db9e8 73%, #7db9e8 73%, #358fce 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(73%,#7db9e8), color-stop(73%,#7db9e8), color-stop(73%,#7db9e8), color-stop(73%,#7db9e8), color-stop(100%,#358fce)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #ffffff 0%,#7db9e8 73%,#7db9e8 73%,#7db9e8 73%,#7db9e8 73%,#358fce 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #ffffff 0%,#7db9e8 73%,#7db9e8 73%,#7db9e8 73%,#7db9e8 73%,#358fce 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #ffffff 0%,#7db9e8 73%,#7db9e8 73%,#7db9e8 73%,#7db9e8 73%,#358fce 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #ffffff 0%,#7db9e8 73%,#7db9e8 73%,#7db9e8 73%,#7db9e8 73%,#358fce 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#358fce',GradientType=0 ); /* IE6-9 */

	}
	.segmentOne h1{
		font-size: 64px;
		color: #358FCE;
	}
	.segmentOne h3{
		font-size: px;
		color: #358FCE;
	}
	.btn-info {
		background-color: #358FCE;
		border-color: #358FCE;
	}
	.segmentTwo{
		padding: 10em;
		background-color: #fff;
		color: #003843;
	}
	.segmentTwo h3{
		color:#666;
	}
	.segmentTwo h2{
		color:#666;
	}
	.segmentTwo h5{
		color:#666;
	}
	.segmentThree{
		padding: 10em;
		background-color: #006C97;
		color: #fff;
	}
</style>
<body>
	<div class="row segmentOne ">
		<div class="col-lg-12 text-center">
			<h1><strong>OrderCloud</strong></h1>
			<h3>One Platform. Infinite Possibilities.</h3>
			<div class="btn btn-lg btn-info"><strong>WATCH VIDEO</strong></div>
		</div>
	</div>
	<div class="row segmentTwo ">
		<div class="col-lg-12 text-center">
			<h1><strong>Elegant, powerful, easy-to-use, cloud-based platform</strong></h1>
		</div>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<h3>Create, configure and customize B2B eCommerce sites faster, easier, and at a lower cost. Solve complex order management challenges quickly by leveraging our cloud-based platform.</h3>
			</div>
		</div>
		<!--DISCLAIMER THE CURRENT IMGS ARE BLURRY BC I DON'T HAVE PROPER IMAGES FROM OUR RESPECTIVE RESOURCES-->
		<div class="row  ">
			<div class="col-lg-3 text-center">
				<img ng-src="assets/segmentTwo/inline_editors.png"/>
				<h2><strong>Inline Editors</strong></h2>
				<h5>Component Based Development </br> Get to your custom solution faster by leveraging our core acceleration components. Best practices, your way.</h5>
			</div>
			<div class="col-lg-3 text-center">
				<img ng-src="assets/segmentTwo/Live_Preview.png"/>
				<h2><strong>Live Preview</strong></h2>
				<h5>Rapid Development Tools </br> Leverage seeds, SDK's, Documentation and Courses to build on OrderCloud quickly.</h5>
			</div>
			<div class="col-lg-3 text-center">
				<img ng-src="assets/segmentTwo/packageManager.png"/>
				<h2><strong>Package Manager</strong></h2>
				<h5>Extendable Data Model <br/> built on 16 years solving complex eCommerce and order management challenges. Feature-rich and robust.</h5>
			</div>
			<div class="col-lg-3 text-center">
				<img ng-src="assets/segmentTwo/DevelopmentisEasy.png"/>
				<h2><strong>Development made Easy</strong></h2>
				<h5>Developers can create custom code, debug, push to a common-source code repository and deploy it to test, staging, or production environments.</h5>
			</div>
		</div>
	</div>
	<div class="row segmentThree text-center">
		<div class="col-lg-6">
			<img ng-src="assets/segmentThree/onPremisControl.PNG"/>

		</div>

		<div class="col-lg-6 pull-left">
			<h1>The control of on-premise. The flexibility of custom development. The scalability and low cost of SaaS</h1>
			<h4>OrderCLoud is a platform-as-a-service (PaaS). This brings you the best of all worlds; control, flexibility, scalability, and security. Leverage our Component Based Architecture to rapidly build customized solutions while leveraging real-world, customer-proven components. </h4>
			<div class="btn  btn-info"><strong>WATCH VIDEO</strong></div>
		</div>
	</div>
</body>