<div class="container-fluid">
    <div class="well well-lg text-center"
         ng-if="(!((productCreateAssignment.priceSchedules | filter:{OrderType:'Replenishment'}).length) && !((productCreateAssignment.priceSchedules | filter:{OrderType:'Standard'}).length))">
        <b>The selected buyer does not have any Standard or Replenishment price schedules.</b><br>
        <b>If you have included the Price Schedules component you can create them there.</b>
    </div>


    <button type="button" class="btn btn-success pull-right" ng-click="productCreateAssignment.createScheduleModal()"><i
            class="fa fa-plus-circle"></i> Create New
    </button>

    <h3>Choose a price schedule</h3>
    <p class="text-muted">Each product assignment can have one Standard and/or one Replenishment price schedule. You
        must
        choose at least one.</p>
    <div class="row">
        <div class="col-sm-6" ng-show="(productCreateAssignment.priceSchedules | filter:{OrderType:'Standard'}).length">
            <h4>Standard Price Schedules</h4>
            <ul class="list-group">
                <li class="list-group-item"
                    ng-repeat="priceSchedule in productCreateAssignment.priceSchedules | filter:{OrderType:'Standard'} track by $index"
                    ng-class="{active: priceSchedule.ID == productCreateAssignment.StandardPriceScheduleID}"
                    ng-click="productCreateAssignment.toggleStandardPS(priceSchedule.ID)">
                    {{priceSchedule.ID}}
                </li>
            </ul>
        </div>
        <div class="col-sm-6"
             ng-show="(productCreateAssignment.priceSchedules | filter:{OrderType:'Replenishment'}).length">
            <h4>Replenishment Price Schedules</h4>
            <ul class="list-group">
                <li class="list-group-item"
                    ng-repeat="priceSchedule in productCreateAssignment.priceSchedules | filter:{OrderType:'Replenishment'} track by $index"
                    ng-class="{active: priceSchedule.ID == productCreateAssignment.ReplenishmentPriceScheduleID}"
                    ng-click="productCreateAssignment.toggleReplenishmentPS(priceSchedule.ID)">
                    {{priceSchedule.ID}}
                </li>
            </ul>
        </div>
        <div ng-include="'products/templates/productPriceSchedules.tpl.html'"></div>
    </div>

    <div ng-if="(productCreateAssignment.priceSchedules | filter:{OrderType:'Replenishment'}).length || (productCreateAssignment.priceSchedules | filter:{OrderType:'Standard'}).length">
        <h3>Choose the assignee(s)</h3>
        <p class="text-muted">You can assign a product to a specific UserGroup or to the entire Buyer Company. UserGroup
            assignments will take precedent over Buyer assignments.</p>
        <div class="row">
            <div class="col-sm-6">

                <div class="form-group">
                    <label>Select Buyer</label>
                    <select class="form-control"
                            ng-options="buyer.Name for buyer in productCreateAssignment.buyers.Items"
                            ng-model="productCreateAssignment.selectedBuyer"
                            ng-change="productCreateAssignment.getUserList(productCreateAssignment.selectedBuyer)">
                    </select>
                </div>
                <br>
                <div uib-collapse="!productCreateAssignment.selectedBuyer">


                    <div class="form-group">
                        <button class="btn btn-block btn-default"
                                ng-class="{active: productCreateAssignment.assignBuyer}"
                                ng-click="productCreateAssignment.assignBuyer = !productCreateAssignment.assignBuyer">
                            <i class="fa"
                               ng-class="{'fa-square-o':!productCreateAssignment.assignBuyer, 'fa-check-square-o':productCreateAssignment.assignBuyer}"></i>
                            Assign Price at the Buyer Level
                        </button>
                    </div>
                    <br>
                    <div uib-collapse="productCreateAssignment.assignBuyer">
                        <div class="well well-lg text-center" ng-if="!productCreateAssignment.list.Items.length">
                            <b><i class="fa fa-search"></i> No UserGroups under this buyer</b>
                        </div>
                        <div class="form-group" uib-collapse="!productCreateAssignment.list.Items.length">
                            <label>Select User Group(s)</label>
                            <ui-select multiple ng-model="productCreateAssignment.selectedUserGroups"
                                       close-on-select="false">
                                <ui-select-match>
                                    {{$item.Name}}
                                    <span ng-bind="$select.selected.Name"></span>
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="group in (productCreateAssignment.list.Items | filter: $select.search) track by $index">
                                    <span ng-bind="group.Name | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <h3>Existing Assignments</h3>
        <!--ng-include="'products/templates/productAssignments.tpl.html'">-->
        <div class="well well-lg text-center" ng-if="!productCreateAssignment.assignments.Items.length">
            <b>This product does not have any assignments for the active Buyer company.</b>
        </div>

        <!--====== LIST ======-->
        <div ng-if="productCreateAssignment.assignments.Items.length">
            <table class="table table-hover table-condensed oc-table-responsive" controlleras="productCreateAssignment">
                <thead>
                <tr>
                    <th>
                        <div>Party ID</div>
                    </th>
                    <th>
                        <div>Standard Price Schedule</div>
                    </th>
                    <th>
                        <div>Replenishment Price Schedule</div>
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="assignment in productCreateAssignment.assignments.Items">
                    <th scope="row">{{assignment.UserID || assignment.UserGroupID || assignment.BuyerID}}
                        <small class="text-muted" ng-if="!assignment.UserID && !assignment.UserGroupID">(Buyer)</small>
                    </th>
                    <td data-title="Standard Price Schedule">{{assignment.StandardPriceScheduleID}}
                        <span class="text-muted" ng-if="!assignment.StandardPriceScheduleID">None</span>
                    </td>
                    <!--<td data-title="Replenishment Price Schedule">{{assignment.ReplenishmentPriceScheduleID}}-->
                    <!--<span class="text-muted" ng-if="!assignment.ReplenishmentPriceScheduleID">None</span>-->
                    <!--</td>-->
                    <td class="actions-cell">
                        <button type="button" class="btn btn-danger btn-sm" uib-tooltip="Delete Assignment"
                                tooltip-placement="left" ng-click="productCreateAssignment.DeleteAssignment(this)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="text-center"
                 ng-if="application.$ocMedia('min-width:768px') && productCreateAssignment.assignments.Meta.TotalPages > 1">
                <uib-pagination boundary-links="productCreateAssignment.assignments.Meta.TotalPages > 5"
                                max-size="10" total-items="productCreateAssignment.assignments.Meta.TotalCount"
                                items-per-page="productCreateAssignment.assignments.Meta.PageSize"
                                ng-model="productCreateAssignment.assignments.Meta.Page"
                                ng-change="productCreateAssignment.pageChanged()"></uib-pagination>
            </div>
        </div>
    </div>


</div>

<div style="padding-bottom: 20px">
    <button type="button" class="btn btn-default" aria-label="Close"
            ui-sref="products.detail({productid:productCreateAssignment.model.ProductID})">Cancel
    </button>
    <!--<button type="button" class="btn btn-default" ng-click="productCreateAssignment.cancel()">Cancel</button>-->
    <button type="button" class="btn btn-primary" ng-click="productCreateAssignment.saveAssignment()"
            ng-disabled="!(((productCreateAssignment.selectedUserGroups).length || productCreateAssignment.assignBuyer) && (productCreateAssignment.StandardPriceScheduleID || productCreateAssignment.ReplenishmentPriceScheduleID))">
        Save Assignment
    </button>
    <button class="btn btn-default">Done</button>
</div>


</div>