<div id="integrations" class="integrations">
    <header class="dc-header" ui-sref="base.docs">
        <div class="container">
            <h2>OrderCloud Integrations</h2>
        </div>
    </header>
    <article class="container " >
        <h3 class="text-center">
            <strong>Four51 OrderCloud</strong> handles integrations with its partner <strong>Jitterbit</strong>, which is a PaaS that can operate in the cloud, on premise, or a hybrid of both, to solve almost any type of data transportation and transformations.
        </h3>
        <h3 class="text-center">
            There are several ways to use the integration platform:
        </h3>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <ul>
                    <li>
                        Four51 offers integration services to build and manage the operations so you don’t have to
                    </li>
                    <li>
                        Jitterbit can be fully built and managed by your development team using the Four51 Connector for Jitterbit
                    </li>
                    <li>
                        Four51 can build the operations and then pass on the management responsibility to your development team
                    </li>
                </ul>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <img  class="img-responsive" ng-src="assets/images/ordercloudIntegrations.png"/>
            </div>
        </div>
        <div class="row secondTier" >
            <div class="col-lg-4">
                <img ng-src="assets/images/crm_icon2.svg">
            </div>
            <div class="col-lg-6 col-lg-offset-2">
                <p>With Jitterbit, OrderCloud is able to integrate with a vast variety of ERP and CRM systems. The platform can map and transform your backend data and transport between OrderCloud and your systems with on-demand and scheduled jobs. If you are a Salesforce customer, the pre-built connectors can easily import and export data between platforms to reduce data entry and automate business processes.</p>
            </div>
        </div>
        <div class="row">
            <p>The Four51 integrations services team can provide integrations to OrderCloud with your preferred shipping, credit card, or tax services.</p>
            <p>For a more detailed list of systems and services OrderCloud can integrate with, please visit <a href="http://www.jitterbit.com/" target="_blank"><strong>Jitterbit</strong></a>.</p>
        </div>
        <hr/>
    </article>
</div>

