<div id="Integrations">
    <header class="dc-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h2>OrderCloud Integrations</h2>
                    <hr/>
                    <p class="lead">
                        <b>OrderCloud</b> handles integrations with its partner <b>Jitterbit</b>, a PaaS that can operate in the cloud, on premise, or a hybrid of both, to solve almost any type of data transportation and transformations.
                    </p>
                </div>
                <div class="col-sm-4">
                    <a href="http://www.jitterbit.com/" target="_blank">
                        <figure>
                            <img class="img-responsive" ng-src="assets/images/jitterbit-white.png"/>
                        </figure>
                    </a>
                </div>
            </div>

        </div>
    </header>
    <article class="container">
        <h3 class="page-header">
            Use the integration platform in the way that suits <em>your</em> business.
        </h3>
        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-xs-2">
                        <div class="circle-label">
                            <span>451</span>
                        </div>
                    </div>
                    <div class="col-xs-10">
                        <p>Four51 offers integration services to build and manage the operations so you don’t have to</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-xs-2">
                        <div class="circle-label">
                            <span>YOU</span>
                        </div>
                    </div>
                    <div class="col-xs-10">
                        <p>Jitterbit can be built and managed by your development team using the Four51 Connector for Jitterbit</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-xs-2">
                        <div class="circle-label">
                            <span>BOTH</span>
                        </div>
                    </div>
                    <div class="col-xs-10">
                        <p>Four51 can build the operations and then pass on the management responsibility to your development team</p>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-4">
                <figure class="pull-left">
                    <img class="svg-img img-responsive" ng-src="assets/images/crm_icon2.svg">
                </figure>
                <p>With Jitterbit, OrderCloud is able to integrate with a vast variety of ERP and CRM systems. The platform can map and transform your backend data and transport between OrderCloud and your systems with on-demand and scheduled jobs. If you are a Salesforce customer, the pre-built connectors can easily import and export data between platforms to reduce data entry and automate business processes.</p>
                <p>The Four51 integrations services team can provide integrations to OrderCloud with your preferred shipping, credit card, or tax services.</p>
                <p>For a more detailed list of systems and services OrderCloud can integrate with, please visit <a href="http://www.jitterbit.com/" target="_blank"><strong>Jitterbit</strong></a>.</p>
            </div>
            <div class="col-md-8">
                <figure>
                    <img  class="img-responsive" ng-src="assets/images/ordercloudIntegrations.png"/>
                </figure>
            </div>
        </div>
        <hr/>
    </article>
</div>

