<div id="integrations">
    <article class="container" >
        <h3 class="page-header"><i class="fa fa-tools"></i>Four51 Integrations Overview</h3>
        <p>
            Four51 OrderCloud handles integrations with its partner Jitterbit, which is a PaaS that can operate in the cloud, on premise, or a hybrid of both, to solve almost any type of data transportation and transformations. There are several ways to use the integration platform:
            Four51 offers integration services to build and manage the operations so you don’t have to
            Jitterbit can be fully built and managed by your development team using the Four51 Connector for Jitterbit
            Four51 can build the operations and then pass on the management responsibility to your development team

            With Jitterbit, OrderCloud is able to integrate with a vast variety of ERP and CRM systems. The platform can map and transform your backend data and transport between OrderCloud and your systems with on-demand and scheduled jobs. If you are a Salesforce customer, the pre-built connectors can easily import and export data between platforms to reduce data entry and automate business processes.
            The Four51 integrations services team can provide integrations to OrderCloud with your preferred shipping, credit card, or tax services.
            For a more detailed list of systems and services OrderCloud can integrate with, please visit <a>Jitterbit</a></p>
        <hr/>
    </article>
</div>

