<article ng-if="application.$state.is('base.devcourses')">
	<header class="dc-header">
		<div class="container">
			<h2>OrderCloud Courses and Training</h2>
			<hr/>
			<p class="lead">Whether you're completely new to using RESTful APIs or it's second nature, this is the place to learn everything there is to know about developing your own OrderCloud applications.</p>
		</div>
	</header>
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-6" ng-repeat="course in courses.list | orderBy: 'ListOrder'">
				<article class="course-summary panel panel-default" >
					<figure class="course-img">
						<img class="img-responsive img-circle" ng-src="{{course.ImgUrl}}" alt=""/>
					</figure>
					<div class="panel-body">
						<h3 class="course-title" ui-sref="base.devcourses.course({courseid:course.ID})">{{course.Name}}</h3>
						<p class="course-description">{{course.Description}}</p>
						<button class="btn btn-success" ui-sref="base.devcourses.course({courseid:course.ID})" ng-if="course.CourseProgress.Meta.PercentDone == 0">START COURSE</button>
						<button class="btn btn-success" ui-sref="base.devcourses.course.class({courseid:course.ID, classid:course.Classes[course.CourseProgress.CompletedClasses.length]})" ng-if="course.CourseProgress.Meta.PercentDone > 0">CONTINUE COURSE</button>
						<div>
							<span class="text-muted">{{course.Classes.length + ' classes'}}</span> | <span>{{course.Difficulty}}</span>
						</div>
					</div>
					<div class="panel-footer" ng-class="{'not-started': course.CourseProgress.Meta.PercentDone == 0}">
						<uib-progressbar value="course.CourseProgress.Meta.PercentDone" max="1" type="info">{{course.CourseProgress.Meta.Count}} of {{course.CourseProgress.Meta.TotalClasses}}</uib-progressbar>
					</div>
<!--					-->

				</article>
			</div>
		</div>
	</div>
</article>
<ui-view autoscroll="false"></ui-view>
