<article ng-if="application.$state.is('base.devcourses')">
	<header class="dc-header">
		<div class="container">
			<h2>OrderCloud Courses and Training</h2>
			<hr/>
			<p class="lead">Whether you're completely new to using RESTful APIs or it's second nature, this is the place to learn everything there is to know about developing your own OrderCloud applications.</p>
		</div>
	</header>
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-6" ng-repeat="course in courses.list | orderBy: 'ListOrder'">
				<article class="course-summary panel panel-default" ui-sref="base.devcourses.course({courseid:course.ID})">
					<header class="panel-heading">
						<p class="panel-title"><b>{{course.Name}}</b></p>
					</header>
					<div class="panel-body">
						<p class="text-info">{{course.Description}}</p>
						<div class="row">
							<div class="col-xs-6">
								<p class="text-muted">{{course.Classes.length + ' classes'}} </p>
							</div>
							<div class="col-xs-6 text-right">
								<p class="label label-primary">{{course.Difficulty}}</p>
							</div>
						</div>
						<hr/>
						<uib-progressbar value="course.CourseProgress.Meta.PercentDone" max="1" type="success">{{course.CourseProgress.Meta.Count}} of {{course.CourseProgress.Meta.TotalClasses}}</uib-progressbar>
					</div>
<!--					<figure>
						<img class="img-responsive" ng-src="{{course.ImgUrl}}" alt=""/>
					</figure>-->

				</article>
			</div>
		</div>
	</div>
</article>
<ui-view autoscroll="false"></ui-view>
