<article class="learning-container">
    <header class="jumbotron course-summary-header">
        <div class="container-fluid">
            <img class="img-responsive" src="assets/images/how-to-back.jpg">
            <div class="well well-lg">
                ORDERCLOUD TRAINING AND REFERENCE GUIDES
            </div>
        </div>
    </header>
    <div class="container">
        <p class="lead">
            Whether you're a developer or a B2B professional, this is the place for you to find all the resources
            you will need to accomplish all of your goals with OrderCloud. If you are completely new to OrderCloud,
            take a look a the <em>Getting Started</em> section where we will walk you through a crash course on what
            OrderCloud is, how it works, how you use it, and how it can help you change the way your business
            does B2B. If you are a Developer looking to learn how to use OrderCloud,
            jump into the <em>Developers</em> section, where we will interactively teach you
            how to use OrderCloud, starting with how to create a basic catalog. If you are an Analyst, Executive,
            or Professional trying to figure out the best ways to use OrderCloud, jump into the <em>Analysts</em>
            section.
        </p>
        <p class="lead">
            Additionally, you will find more resources that will help you work with OrderCloud, documentation for
            both Developers and Professionals, and a link to the OrderCloud Blog in the other various sections.
            Feel free to dig as deep as you want and reach out to us via your Four51 Contact or by providing
            us with your information in the <a href>Contact Us</a> page.
        </p>
        <div class="learning-resources">
            <div class="learning-card">
                <div class="img-container" style="background-image: url('/assets/images/get-started-table.jpg');">
                    <div class="container-background-color">
                    </div>
                    <div class="container-text">
                        Getting Started
                    </div>
                </div>
                <div class="course-caption">
                    <div class="divider"></div>
                    <p>
                        Welcome! Let us tell you all you need to know to get started using OrderCloud so you can begin
                        your journey changing the way your business does B2B.
                    </p>
                    <a class="btn btn-primary">LEARN MORE</a>
                </div>
            </div>
            <div class="learning-card">
                <div class="img-container" style="background-image: url('/assets/images/programmer.jpg');">
                    <div class="container-background-color">
                    </div>
                    <div class="container-text">
                        Developers
                    </div>
                </div>
                <div class="course-caption">
                    <div class="divider"></div>
                    <p>
                        Take your first steps into OrderCloud with everything you need to be on your way to becoming an OrderCloud expert.
                        Click below to learn more about our in-depth set of Developer Resources.
                    </p>
                    <a class="btn btn-primary">LEARN MORE</a>
                </div>
            </div>
            <div class="learning-card">
                <div class="img-container" style="background-image: url('/assets/images/analyst.jpg');">
                    <div class="container-background-color">
                    </div>
                    <div class="container-text">
                        Analysts
                    </div>
                </div>
                <div class="course-caption">
                    <div class="divider"></div>
                    <p>
                        Hear about how you can make the most of OrderCloud and take your business to the next level of B2B Ecommerce
                        and Order Management. Click below to learn more.
                    </p>
                    <a class="btn btn-primary">LEARN MORE</a>
                </div>
            </div>
            <div class="learning-card">
                <div class="img-container" style="background-image: url('/assets/images/resources-people.jpg');">
                    <div class="container-background-color">
                    </div>
                    <div class="container-text">
                        Resources
                    </div>
                </div>
                <div class="course-caption">
                    <div class="divider"></div>
                    <p>
                        Want More? Click below to see the ever-growing amount and up-to-date resources we have available
                        for you to help answer all your questions. Click below to learn more.
                    </p>
                    <a class="btn btn-primary">LEARN MORE</a>
                </div>
            </div>
            <div class="learning-card">
                <div class="img-container" style="background-image: url('/assets/images/docs-table.jpg');">
                    <div class="container-background-color">
                    </div>
                    <div class="container-text">
                        Documentation
                    </div>
                </div>
                <div class="course-caption">
                    <div class="divider"></div>
                    <p>
                        OrderCloud has a robust set of Documentation for both Developers and Business Users so you can
                        accomplish your goals as quick as possible and learn even faster.
                    </p>
                    <a class="btn btn-primary">LEARN MORE</a>
                </div>
            </div>
            <div class="learning-card">
                <div class="img-container" style="background-image: url('/assets/images/girl-on-phone.jpg');">
                    <div class="container-background-color">
                    </div>
                    <div class="container-text">
                        OrderCloud Blog
                    </div>
                </div>
                <div class="course-caption">
                    <div class="divider"></div>
                    <p>
                        Follow the OrderCloud Blog to hear more from the Four51 Team on why it's important for businesses
                        to come to terms with the future of B2B Ecommerce, and how OrderCloud can help.
                    </p>
                    <a class="btn btn-primary">LEARN MORE</a>
                </div>
            </div>
        </div>

    </div>
</article>