<article>
    <header class="jumbotron course-summary-header">
        <div class="container-fluid">
            <img class="img-responsive" src="assets/images/how-to-back.jpg">
            <div class="well well-lg">
                ORDERCLOUD TRAINING AND REFERENCE GUIDES
            </div>
        </div>
    </header>
    <div class="container">
        <p class="lead">Whether you're completely new to using RESTful APIs or it's second nature, this is the place to learn everything there is to know about creating custom OrderCloud applications.</p>
        <div class="learning-resources">
            <div class="learning-card">
                <div class="img-container">
                    For Developers
                </div>
                <div class="course-caption">
                    <h3>For Developers</h3>
                    <div class="divider"></div>
                    <p>Take your first step into OrderCloud and experience the power of our RESTful API</p>
                    <button class="btn btn-primary btn-block">START COURSE</button>
                </div>
            </div>
            <div class="learning-card">

            </div>
            <div class="learning-card">

            </div>
            <div class="learning-card">

            </div>
        </div>
    </div>
</article>