<div id="gettingstarted" class="gettingstarted">
    <header class="dc-header" ui-sref="base.docs">
        <div class="container">
            <h2>Getting Started</h2>
        </div>
    </header>
    <article class="container " >
        <h3 class="text-center">
            The Purpose of This Guide
        </h3>
        <hr/>
        <p>
            This guide is geared towards developers who want to get up and running with the OrderCloud API and start
            creating their first application with the OrderCloud Seed repository.
        </p>
        <h3 class="text-center">
            What You Will Need
        </h3>
        <hr/>
        <p>
            The OrderCloud Seed depends on a few third party code libraries that you will need to install locally before
            you can jump into the code.
        </p>
        <ul class="list-group">
            <a href="https://nodejs.org/en/" target="_blank" class="list-group-item">Node</a>
            <a href="https://www.npmjs.com/" target="_blank" class="list-group-item">NPM</a>
            <a href="http://bower.io/" target="_blank" class="list-group-item">Bower</a>
            <a href="http://gulpjs.com/" target="_blank" class="list-group-item">Gulp</a>
        </ul>
        <p>
            Links to each of the dependencies are provided above. It isn't necessary to learn the full workings of any
            of these libraries to get started, only to install them.
        </p>
        <h4>Installing Node and NPM</h4>
        <ol>
            <li>
                Follow the link above to the Node home page. This page should display green download buttons specific
                for the OS you are currently using. At the time of writing this guide Node has two versions available, a
                long term support (LTS) version 4.2.2 and a staple version of 5.0.0. Either version should be fine for
                working with our application. Click on the appropriate button to begin downloading Node.
            </li>
            <li>
                After the application as finished downloading, click on the downloaded file and walk though the
                installation guide. All the defaults should be fine.
            </li>
            <li>
                The installation of node should take care of installing npm as well. If you want to verify the install
                open up a terminal or command prompt window and type <code>node --version</code> and your current version
                of node should read out. You can do the same check with npm by typing <code>npm --version</code>. If there
                was no error during your installation but these commands do not work you may need to add node and/or npm
                to your environment variables.
            </li>
        </ol>
        <h4>Installing Bower</h4>
        <p>
            The seed uses Bower to add functionality from other code libraries to the code you are developing. Examples
            of things included in the seed through Bower are AngularJS, Bootstrap, and the OrderCloud-Angular-SDK.
        </p>
        <p>
            To install Bower, just run <code>npm install -g bower</code>.
        </p>
        <p>
            Make sure you don't forget the "-g", this is telling npm to install the package globally so it will be available
            to you for all future projects.
        </p>
        <h4>Installing Gulp 4.0</h4>
        <p>
            The seed relays on Gulp for its automation tests when setting up the app. It uses the 4.0 version of Gulp
            which at the time of writing this guide has not been officially released, but fear not! Now that you have npm
            installed installing Gulp will be a breeze. Add you need is to open up your terminal and type one line:
        </p>
        <code>
            npm -g install "gulpjs/gulp-cli#4.0"
        </code>
        <p>
            Again make sure you include the "-g". Now with all the third party stuff installed you are finally ready to get the
            OrderCloud Seed code.
        </p>
        <h3 class="text-center">Getting the Code</h3>
        <hr/>
        <p>
            Four51's code is available online through GitHub. If you don't have a GitHub account yet you are going to need
            to create one, don't worry it is free. You can log in or sign up at this URL: <a href="https://github.com/" target="_blank">https://github.com/</a>.
        </p>
        <p>
            To access the OrderCloud seed through GitHub you can use the URL provided here: <a href="https://github.com/Four51/OrderCloud-Seed-AngularJS" target="_blank">OrderCloud-Seed-AngularJS</a>, or search GitHub
            for OrderCloud-Seed-AngularJS. Make sure that the code you are downloading is under the Four51 GitHub user.
        </p>
        <p>
            There many options for interfacing with GitHub including the GitHub desktop and SourceTree. You can look up
            these tools on your own. For this guide we will just be assuming that you downloaded the zipped version of the
            app from GitHub and have unzipped the directory.
        </p>
        <h3 class="text-center">Final Steps</h3>
        <hr/>
        <p>Its the home stretch. Just a few more things to do and your app will be up and running.</p>
        <ol>
            <li>
                Navigate to the folder created when you unzipped or cloned the repo with your terminal, so that the 
                terminal window reads out the path starting from your base file directory and ending with your seed folder.
            </li>
            <li>
                Now run <code>npm install</code>.
                This will download and install the npm dependencies for the application. These are the dependencies that
                are used in the build process. The new files will be installed in the /node_modules folder at the root
                of your project.
            </li>
            <li>
                Next run <code>bower install</code>.
                This will download all the bower dependencies used by the application. Things like AngularJS, which
                provides the framework for the entire application, as while as the OrderCloud-Angular-SDK which allows you
                to easily interface with the API. The new files will be installed in the /vendor folder at the root of
                your project.
            </li>
            <li>
                Next run <code>gulp build</code>.
                This will create an unminfied version of your app that you can open and test with. This task will create
                a few new directories within your project. A majority of the files will be created in the /build folder,
                which will house all of the files your application needs. The other folder created is the /temp directory.
                You don't need to worry about this folder, it is just created as part of the build to cache files between
                operations while moving them from /src to /build.
            </li>
            <li>
                To open the app on a local host so you can start making changes, run <code>gulp watch</code>. When this
                task completes it should open your app in your chosen default browser on port 8000. If you don't stop this
                process (By pressing Ctrl + C at the same time in the terminal) gulp will continuously watch your /src
                directory for changes and refresh the browser as you save your changes when developing.
            </li>
            <li>
                Finally, to create a minified build of your code, that is, condensing all of your JavaScript files down
                to one file and all of your styles (css, less, sass, stylus, ext...) down to a single separate file, run
                <code>gulp compile</code>. This command will create another directory, /compile, that should contain the
                minified Javascript file, the minified css file, and all the assets like fonts and images your application uses.
                This is the folder we recommend deploying from as the minification will increase performance.
            </li>
        </ol>
    </article>
</div>

