body {
  overflow:hidden;
  &.base-body {
    padding-top:@navbar-height; // Source - http://getbootstrap.com/components/#callout-navbar-fixed-top-padding
    main {
      min-height:calc(~"100vh - "@navbar-height);
      max-height:calc(~"100vh - "@navbar-height);
    }
  }
}

main {
  overflow-y:auto;
  overflow-x:hidden;
}

[ng-click],
[ui-sref] {
  cursor: pointer;
}

*:focus {
  outline:none !important;
}

button {
  transition:all 200ms ease-in-out;
}

//Typography
body {
  font-family:@body-font;
}

h1, h2, h3, h4, h5, h6 {
  font-family:@header-font;
}

.dc-header {
  background-repeat:no-repeat;
  background-size:100% calc(100vw);
  background-image: radial-gradient(at center center, darken(@four51-blue, 25) 0%, darken(@four51-blue, 25) 60%, darken(@four51-blue, 35) 100%); /* W3C */
  //background-color: darken(@four51-blue, 25);
  color:white;
  padding:40px 0 15px;
  margin-bottom:20px;
  h2 {
    font-family:@body-font;
    font-weight:lighter;
    margin:0;
  }
}

.text-white {
  color:white !important;
}

.text-green {
  color: @brand-success;
}

.page-header {
  border-bottom-width: 3px;
  font-weight:bold;
}

.well.well-lg p.lead {
  margin:0;
}

.labeled-divider {
  position:relative;
  span {
    position:absolute;
    top:-10px;
    background-color:white;
    left:35%;
    right:35%;
    text-align:center;
    margin:0 auto;
  }
}

//angularjs form validation
.ng-dirty.ng-invalid {
  .form-control-validation-angular(@state-danger-text; @state-danger-text; @state-danger-bg);
}

//UI-BOOTSTRAP CURSOR STYLES
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.table {
  // Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        vertical-align: middle;
      }
    }
  }
}

.chip-1 {
  background-color: @chip1;
}
.chip-2 {
  background-color: @chip2;
}
.chip-3 {
  background-color: @chip3;
}

[uib-typeahead] +
.dropdown-menu {
  li:nth-of-type(even) {
    background-color:@table-bg-accent;
  }
}

.white-placeholder::-webkit-input-placeholder {
  color: #ffffff;
}
.white-placeholder::-moz-placeholder {
  color: #ffffff;
}
.white-placeholder:-ms-input-placeholder {
  color: #ffffff;
}
.white-placeholder:-moz-placeholder {
  color: #ffffff;
}

[ui-ace].rounded-corners {
  border-radius:@border-radius-base;
  overflow:hidden;
}

.form-control,
.btn  {
  border-width:0;
}

.form-control {
  height:32px;
}

.dropdown-menu {
  border-width:0;
}

.btn-white {
  .button-variant(@four51-blue, white, white);
}