<div id="seed">
    <article class="container" >
        <h3 class="page-header"><i class="fa fa-tools"></i>Seed Overview</h3>
    <h1><a id="OrderCloud_Seed__AngularJS_0"></a>OrderCloud Seed - AngularJS</h1>
    <p>A seed project for custom Four51 Solutions built on AngularJS</p>
    <hr>
    <h2><a id="Get_started_4"></a>Get started</h2>
    <p>Node.js is required for the following node package manager (npm) tasks. If you don't have node.js installed, you can download it <a href="http://nodejs.org/">here</a>.</p>
<pre><code class="language-sh">$ npm -g install karma bower
    $ npm -g install <span class="hljs-string">"gulpjs/gulp-cli#4.0"</span>
    $ npm install
    $ bower install
    $ gulp build
</code></pre>
    <p>You should now have a few more directories in your project.</p>
<pre><code>OrderCloud/
    <span class="hljs-string">|- build/</span>
    <span class="hljs-string">|- node_modules/</span>
    <span class="hljs-string">|- vendor/</span>
</code></pre>
    <h2><a id="Configure_WebStorm_25"></a>Configure WebStorm</h2>
    <p>WebStorm is our chosen development IDE. It provides an interface for the capabilities of the seed projects configuration.</p>
    <h3><a id="Karma_Unit_Testing_28"></a>Karma Unit Testing</h3>
    <p>Once you've installed the prerequisites and run your gulp build you can setup and run your Karma tests.</p>
    <p>Create a Run configuration using the Karma plugin with the following settings:</p>
    <p>Node interpreter: C:\Program Files (x86)\nodejs\node.exe</p>
    <p>Karma package: C:\Four51\WebFiles\SPASites\defaults\OrderCloud\node_modules\karma</p>
    <p>Configuration file: C:\Four51\WebFiles\SPASites\defaults\OrderCloud\build\karma-unit.js</p>
    <h3><a id="Overall_Directory_Structure_40"></a>Overall Directory Structure</h3>
    <p>At a high level, the structure looks roughly like this:</p>
<pre><code>OrderCloud/
    |<span class="hljs-string">- Gulp/
  </span>|<span class="hljs-string">- </span>|<span class="hljs-string">- assetTasks.js
  </span>|<span class="hljs-string">- </span>|<span class="hljs-string">- generalTasks.js
  </span>|<span class="hljs-string">- </span>|<span class="hljs-string">- scriptTasks.js
  </span>|<span class="hljs-string">- </span>|<span class="hljs-string">- testTasks.js
  </span>|<span class="hljs-string">- </span>|<span class="hljs-string">- watchTasks.js
  </span>|<span class="hljs-string">- karma/
  </span>|<span class="hljs-string">- node_modules/
  </span>|<span class="hljs-string">- src/
  </span>|<span class="hljs-string">  </span>|<span class="hljs-string">- app/
  </span>|<span class="hljs-string">  </span>|<span class="hljs-string">  </span>|<span class="hljs-string">- &lt;application code&gt;
  </span>|<span class="hljs-string">  </span>|<span class="hljs-string">- assets/
  </span>|<span class="hljs-string">  </span>|<span class="hljs-string">  </span>|<span class="hljs-string">- &lt;static files&gt;
  </span>|<span class="hljs-string">  </span>|<span class="hljs-string">- index.html
  </span>|<span class="hljs-string">- vendor/
  </span>|<span class="hljs-string">  </span>|<span class="hljs-string">- &lt;bower components&gt;
  </span>|<span class="hljs-string">- .bowerrc
  </span>|<span class="hljs-string">- bower.json
  </span>|<span class="hljs-string">- gulpConfig.js
  </span>|<span class="hljs-string">- Gulpfile.js
  </span>|<span class="hljs-string">- karma.conf.js
  </span>|<span class="hljs-string">- module.prefix
  </span>|<span class="hljs-string">- module.suffix
  </span>|<span class="hljs-string">- package.json
</span></code></pre>
    <h3><a id="Detailed_Installation_72"></a>Detailed Installation</h3>
    <p>This section provides a little more detailed understanding of what goes into
        getting <code>OrderCloud</code> up and running. Though <code>OrderCloud</code> is really simple
        to use, it might help to have an understanding of the tools involved here, like
        Node.js and Gulp and Bower. If you're completely new to highly organized,
        modern JavaScript development, take a few short minutes to read <a href="tools.md">this overview
            of the tools</a> before continuing with this section.</p>
    <p>Here it is:</p>
    <p><code>OrderCloud</code> uses <a href="http://gulpjs.com/">Gulp</a> as its build system, so
        <a href="http://nodejs.org">Node.js</a> is required. Also, we are using Gulp 4.0 prior to
        its official release date. You can install Gulp 4.0 on your machine globally by running
        the following command:</p>
<pre><code class="language-sh">$ npm -g install <span class="hljs-string">"gulpjs/gulp-cli#4.0"</span> karma bower
</code></pre>
    <p>And then install the remaining build dependencies locally:</p>
<pre><code class="language-sh">$ npm install
</code></pre>
    <p>This will read the <code>dependencies</code> (empty by default) and the <code>devDependencies</code>
        (which contains our build requirements) from <code>package.json</code> and install
        everything needed into a folder called <code>node_modules/</code>.</p>
    <p>There are many Bower packages used by <code>OrderCloud</code>, like AngularJS and the
        OrderCloud-Angular-SDK, which are listed in <code>bower.js</code>. To install them into the
        <code>vendor/</code> directory, simply run:</p>
<pre><code class="language-sh">$ bower install
</code></pre>
    <p>In the future, should you want to add a new Bower package to your app, run the
        <code>install</code> command and add <code>--save</code> to save the dependency in your bower.json file:</p>
<pre><code class="language-sh">$ bower install packagename --save
</code></pre>
    <p>The <code>--save</code> flag tells Bower to add the package at its current version to
        our project's <code>bower.js</code> file so should another developer download our
        application (or we download it from a different computer), we can simply run the
        <code>bower install</code> command as above and all our dependencies will be installed for
        us. Neat!</p>
    <p>Technically, <code>OrderCloud</code> is now ready to go.</p>
    <p>To ensure your setup works, build your application and then run it with the following
        commands:</p>
<pre><code class="language-sh">$ gulp build
    $ gulp watch
</code></pre>
    <p>The built files are placed in the <code>build/</code> directory by default. And you application
        should automatically open in the browser window on a localhost!</p>
    <p><code>watch</code> actually starts a few other processes in the background to help you develop your
        application. Using <code>browser-sync</code> and some built in gulp functions the app is now watching
        for changes in your source directory. Should you make any changes to your html or js files
        the app should automatically reload your application with the appropriate changes. Also
        if you make any changes to your style sheets (less or css) the app will rebuild those changes
        and inject them directly into the application, without reloading the entire page!</p>
    <p>When you're ready to push your app into production, just run the <code>compile</code>
        command:</p>
<pre><code class="language-sh">$ gulp compile
</code></pre>
    <p>This will concatenate and minify your sources and place them by default into the
        <code>compile/</code> directory. There will only be three files (excluding assets): <code>index.html</code>,
        <code>OrderCloud.js</code>, and <code>OrderCloud.css</code>. All of the vendor dependencies like
        AngularJS styles and the OrderCloud-SDK itself have been added to them for super-easy
        deploying. If you use any assets (<code>src/assets/</code>) then they will be copied to
        <code>compile/</code> as is.</p>
    <p>Lastly, a complete build is always available by simply running the default
        task, which runs <code>build</code> and then <code>compile</code>:</p>
<pre><code class="language-sh">$ gulp
</code></pre>
    <h3><a id="The_Build_System_164"></a>The Build System</h3>
    <p>The best way to learn about the build system is by familiarizing yourself with
        Gulp and then looking through the code, <code>Gulpfile.js</code> and the Gulp folder.
        But you don't need to do that to be very productive with
        <code>OrderCloud</code>. What follows in this section is a quick introduction to the
        tasks provided and should be plenty to get you started.</p>
    <p>Below is a description of the gulp tasks in the project, sorted by their general purpose
        and location within the Gulp directory.</p>
    <p>####Asset Tasks</p>
    <ul>
        <li><code>b_m:less</code> - Compiles all of the app and bower less files into css and moves the compiled file into the temp folder</li>
        <li><code>b_m:sass</code> - Compiles all of the app and bower sass files into css and moves the compiled file into the temp folder</li>
        <li><code>b_m:css</code> - Compiles all of the bower css files (with the exception of the font awesome file as it was already compiled
            in <code>b_m:less</code>) into one file and autoprefixes the css to run for the last to versions of all the major browsers</li>
        <li><code>b_m:appCss</code> - Compiles all of the app css files into one file and autoprefixes the css to run for the last to versions
            of all the major browsers</li>
        <li><code>b_m:styles</code> - Compiles all of the css files in the temp directory into one file, replaces the path to fonts to be correct
            for the build directory and renames the file with the version of the app. Places the file in the build folder and injects the
            change into browser-sync if it is currently running</li>
        <li><code>b_c:styles</code> - Deletes all of the assets that have been moved over to the build folder and all of the files in the temp folder</li>
        <li><code>b_m:assets</code> - Moves over all asset files (fonts and images) saved in the src/assets directory to the build/assets directory</li>
        <li><code>b_m:fonts</code> - Moves over all fonts saved within the bower dependencies to the build/assets directory</li>
        <li><code>b_c:assets</code> - Deletes all assets files from the build directory</li>
        <li><code>c_m:css</code> - Minifies all css files in the build directory and moves them to the compile folder</li>
        <li><code>c_c:css</code> - Deletes all css files from the compile directory</li>
        <li><code>c_m:assets</code> - Moves over all asset files (fonts and images) from the build folder to the compile folder</li>
        <li><code>c_c:assets</code> - Delete all asset and css files from the compile directory</li>
        <li><code>build:styles</code> - Runs <code>b_c:styles</code>, <code>b_m:less</code>, <code>b_m:sass</code>, <code>b_m:css</code>, <code>b_m:appCss</code>, <code>b_m:styles</code> in order</li>
        <li><code>compile:css</code> - Runs <code>c_c:css</code>, <code>build:styles</code>, <code>c_m:css</code> in order</li>
        <li><code>build:assets</code> - Runs <code>b_c:assets</code>, <code>b_m:assets</code>, <code>b_m:fonts</code> in order</li>
        <li><code>compile:assets</code> - Runs <code>c_c:assets</code>, <code>build:assets</code>, <code>c_m:assets</code> in order</li>
    </ul>
    <p>####General Tasks</p>
    <ul>
        <li><code>compile:inject</code> - Injects the app dependencies into the index.html file for the compiled build
            Note: Theere should only be two: <code>OrderCloud-[Version#].css</code> and <code>app.js</code></li>
        <li><code>build:inject</code> - Injects the app dependencies into the index.html file for the unminified build</li>
        <li><code>masterClean</code> - Deletes the build, compile, and temp directories. Basically anything built by the gulp
            tasks will be removed by this task</li>
        <li><code>build</code> - First runs <code>master clean</code>, then runs <code>build:js_bower</code>, <code>build:js</code>, <code>build:templateCache</code>, <code>build:styles</code>, <code>build:assets</code>,
            and lastly runs <code>build:inject</code> to create an unminified build of the project</li>
        <li><code>compile</code> - First runs <code>build</code>, then runs <code>compile:js</code>, <code>compile:assets</code>, <code>compile:css</code>
            and lastly runs <code>compile:inject</code> to create a minified build of the project</li>
        <li><code>default</code> - Runs the <code>compile</code> task when only <code>gulp</code> is typed into the command prompt</li>
    </ul>
    <p>####Script Tasks</p>
    <ul>
        <li><code>b_m:js_bower</code> - Moves the bower dependencies over to the build folder</li>
        <li><code>b_c:js_bower</code> - Deletes bower dependencies form the build folder</li>
        <li><code>b_m:js</code> - Moves over all of the app js files need to run the application (not the ones for unit testing) and
            annotates them and wraps each file in an IIFE call.</li>
        <li><code>b_c:js</code> - Deletes all of the javascript files moved over to the build folder except for the templateCache file</li>
        <li><code>b_m:templateCache</code> - Creates an angular templateCache of all the html files (except the index) that
            allows for the application to run faster.</li>
        <li><code>b_c:templateCache</code> - Cleans out the compiled template file generated by <code>b_m:templateCache</code></li>
        <li><code>c_c:js</code> - Deletes all js files from the compile directory</li>
        <li><code>build:js</code> - Runs <code>b_c:js</code>, and <code>b_m:js</code> in order</li>
        <li><code>build:js_bower</code> - Runs <code>b_c:js_bower</code>, and <code>b_m:js_bower</code> in order</li>
        <li><code>build:templateCache</code> - Runs <code>b_c:templateCache</code>, and <code>b_m:templateCache</code> in order</li>
        <li><code>compile:js</code> - Runs <code>c_c:js</code>, <code>build:js_bower</code>, <code>build:js</code>, and <code>build:templateCache</code> at the same time, then runs
            <code>c_m:js</code></li>
    </ul>
    <p>####Test Tasks</p>
    <ul>
        <li><code>testServe</code> - Starts the browser-sync server on localhost:12000
            Note: this task does not build the application first so you must run <code>gulp build</code> first for it to work.
            This task differs from <code>dev</code> in that it opens a tunnel that allows the app to be viewed on other computers
            not on the same network.</li>
    </ul>
    <p>####Watch Tasks</p>
    <ul>
        <li><code>dev</code> - Starts the browser-sync server on localhost:8000</li>
        <li><code>karma:unit</code> - Starts the karma unit tests</li>
        <li><code>watch:js</code> - Starts a process that watches for changes in the javascript files in the src directory</li>
        <li><code>watch:assets</code> - Starts a process that watches for changes in the style sheet files (less and css)</li>
        <li><code>watch:other</code> - Starts a process the watches for changes in the html files</li>
        <li><code>watch</code> - Starts all of the previously mentioned tasks in parallel</li>
    </ul>
    <p>As covered in the previous section, <code>gulp build</code> and <code>gulp watch</code> will execute a full build
        up-front and then run any of the aforementioned <code>watch</code> tasks as needed to
        ensure the fastest possible build. So whenever you're working on your project,
        start with:</p>
<pre><code class="language-sh">$ gulp build
</code></pre>
    <p>then:</p>
<pre><code class="language-sh">$ gulp watch
</code></pre>
    <p>And everything will be done automatically!</p>
    <h3><a id="Build_vs_Compile_257"></a>Build vs. Compile</h3>
    <p>To make the build even faster, tasks are placed into two categories: build and
        compile. The build tasks (like those we've been discussing) are the minimal
        tasks required to run your app during development.</p>
    <p>Compile tasks, however, get your app ready for production. The compile tasks
        include concatenation, minification, compression, etc. These tasks take a little
        bit longer to run and are not at all necessary for development so are not called
        automatically during build or watch.</p>
    <p>To initiate a full compile, you simply run the default task:</p>
<pre><code class="language-sh">$ gulp
</code></pre>
    <p>This will perform a build and then a compile. The compiled site is located in <code>compile/</code>.
        To test that your full site works as expected, open the <code>compile/index.html</code> file in your browser. Voila!</p>

    </body></html>
        <hr/>
    </article>
</div>