<main id="Register">
	<div class="container">
<!--		<div class="text-center">
			<ordercloud-logo data-width="300px" data-height="100px" data-color="#FFFFFF"></ordercloud-logo>
		</div>-->
		<h2 class="text-center">Sign up today</h2>
		<p class="lead text-center">Experience OrderCloud free for 30 days</p>
		<form name="ordercloud_registration" ng-submit="register.submit()">
			<div class="form-group placeholder-label">
				<label>First Name</label>
				<input type="text" placeholder="First Name" class="form-control" ng-model="register.information.FirstName" required/>
			</div>
			<div class="form-group placeholder-label">
				<label>Last Name</label>
				<input type="text" placeholder="Last Name" class="form-control" ng-model="register.information.LastName" required/>
			</div>
			<div class="form-group placeholder-label">
				<label>Company Name</label>
				<input type="text" placeholder="Company Name" class="form-control" ng-model="register.information.CompanyName" required/>
			</div>
			<div class="form-group placeholder-label">
				<label>Phone Number</label>
				<input type="text" placeholder="Phone Number" class="form-control" ng-model="register.information.PhoneNumber" />
			</div>
			<div class="form-group placeholder-label">
				<label>Email</label>
				<input type="email" placeholder="Email" class="form-control" name="Email" ng-model="register.information.Email" required blacklist />
				<span class="helper-text" ng-show="ordercloud_registration.Email.$touched && (ordercloud_registration.$error.Email || ordercloud_registration.$error.blacklist)">Please use a valid company email address.</span>
			</div>
			<div class="form-group placeholder-label">
				<label>Username</label>
				<input type="text" placeholder="Username" class="form-control" ng-model="register.information.Username" required/>
			</div>
			<div class="form-group placeholder-label">
				<label>Password</label>
				<input type="password" placeholder="Password" class="form-control" name="Password"
					   ng-model="register.information.Password" required
					   ng-pattern="/(?=^.{8,100}$)((?=.*[a-zA-Z])(?=.*\d)|(?=.*[a-zA-Z])(?=.*\W)|(?=.*\W)(?=.*\d)).*$/" />

				<span class="helper-text" ng-show="ordercloud_registration.Password.$invalid && ordercloud_registration.Password.$touched">
					Your password must contain a minimum of 8 alphanumeric characters and two or more of the following kinds of characters
					<ul>
						<li>Alphabetic (e.g., a-z, A-Z)</li>
						<li>Numeric (i.e. 0-9)</li>
						<li>Punctuation and other characters (e.g., !@#$%^&*()_+|~-=\`{}[]:</li>
					</ul>
				</span>
			</div>
			<div class="form-group placeholder-label">
				<label>Confirm Password</label>
				<input type="password" placeholder="Confirm Password" class="form-control" ng-model="register.information.ConfirmPassword" name="ConfirmPassword" compare-to="register.information.Password" />
				<span class="helper-text" ng-show="ordercloud_registration.ConfirmPassword.$invalid && ordercloud_registration.Password.$valid">Password does not match.</span>
			</div>
			<button type="submit" class="btn btn-lg btn-block btn-dark-blue" ng-disabled="ordercloud_registration.$invalid">Register</button>
		</form>
		<br/>
		<div class="text-center">
			Already have an account?  <button type="button" class="btn btn-dark-blue" ui-sref="login">Log In</button>
		</div>
	</div>
</main>
