.docs-nav {
  ul {
	padding:0;
	margin:0;
  }
  li {
	list-style: none;
  }
  .section-list {
	border-radius:@border-radius-base;
	margin-bottom:15px;
	overflow:hidden;
	> li {
	  color:lighten(@four51-blue, 30);
	  padding:10px;
	  background-repeat:no-repeat;
	  background-size:200% calc(100vw);
	  background-image: radial-gradient(at left center, darken(@four51-blue, 25) 0%, darken(@four51-blue, 25) 60%, darken(@four51-blue, 35) 100%); /* W3C */
	  font-weight:lighter;
	  font-size:1.3em;
	  &.active {
		color:white;
	  }
	}
  }
  .resource-list {
	> li {
	  padding:0 5px;
	  background-color:darken(@four51-blue, 15);
	  &:first-child {
		padding-top:5px;
	  }
	  &:last-child {
		padding-bottom:5px;
	  }
	  a {
		transition:all 200ms ease-in-out;
		padding:7px 10px;
		display:block;
		border-radius:@border-radius-base;
		color:lighten(@four51-blue, 30);
		&:focus,
		&:hover {
		  color:white;
		  text-decoration: none;
		  background-color:darken(@four51-blue, 20);
		}
		&.active {
		  background-color:@four51-blue;
		  color:white;
		}
	  }
	}
  }
}

.endpoint-dropdown {
  width:100%;
  > li > a {
	padding:10px 20px;
  }
}

#ApiDocumentation {
  .panel-heading {
	padding:0;
	.panel-title {
	  a {
		display:block;
		padding:@panel-heading-padding;
		&:focus,
		&:hover {
		  text-decoration:none;
		}
	  }
	}
  }
  div[ui-ace] {
	border-radius:@border-radius-base;
	overflow:hidden;
  }
}