.docs-nav {
  ul {
	padding:0;
	margin:0;
  }
  li {
	list-style: none;
  }
  .section-list {
	border-radius:@border-radius-base;
	margin-bottom:15px;
	overflow:hidden;
	> li {
	  padding:10px;
	  background-color:@console-log-bg;
	  color:lighten(@console-log-bg, 70);
	  font-weight:lighter;
	  font-size:1.3em;
	  &.active {
		color:@four51-blue;
	  }
	}
  }
  .resource-list {
	> li {
	  padding:0 5px;
	  background-color:lighten(@console-log-bg, 20);
	  &:first-child {
		padding-top:5px;
	  }
	  &:last-child {
		padding-bottom:5px;
	  }
	  a {
		transition:all 200ms ease-in-out;
		padding:7px 10px;
		display:block;
		border-radius:@border-radius-base;
		color:lighten(@console-log-bg, 70);
		&:focus,
		&:hover {
		  color:lighten(@console-log-bg, 90);
		  text-decoration: none;
		  background-color:lighten(@console-log-bg, 10);
		}
		&.active {
		  background-color:@four51-blue;
		  color:white;
		}
	  }
	}
  }
}

#ApiDocumentation {
  .panel-heading {
	padding:0;
	.panel-title {
	  a {
		display:block;
		padding:@panel-heading-padding;
		&:focus,
		&:hover {
		  text-decoration:none;
		}
	  }
	}
  }
  div[ui-ace] {
	border-radius:@border-radius-base;
	overflow:hidden;
  }
}