<nav id="dev-center-navigation" class="navbar navbar-default navbar-fixed-top" ng-init="mainCollapsed = true">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" ng-click="mainCollapsed = !mainCollapsed" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="" ui-sref="base.home"><ordercloud-logo class="oc-logo" data-width="275px" data-height="60px" data-color="#FFFFFF" icon="application.$media('max-width:767px')"></ordercloud-logo></a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="navbar-collapse" uib-collapse="mainCollapsed">
			<ul class="nav navbar-nav">
				<li ui-sref-active="active">
					<a ui-sref="base.about" role="button" aria-haspopup="true">About</a>
				</li>
				<li ui-sref-active="active"><a href="" ui-sref="base.docs">Docs</a></li>
				<li uib-dropdown>
					<a href="" uib-dropdown-toggle role="button" aria-haspopup="true">Resources</a>
					<div class="uib-dropdown-menu top-caret bordered mega">
						<ul>
							<li role="presentation" ng-repeat="item in base.resourcesDropdown" ng-hide="(!base.currentUser && item.Display == 'Courses')" ng-mouseenter="base.resourcesDropdown.activeItem = item" ui-sref="{{item.StateRef}}">{{item.Display}}</li>
						</ul>
						<div ng-if="base.resourcesDropdown.activeItem">
							{{base.resourcesDropdown.activeItem.Description}}
						</div>
					</div>
				</li>
				<li><a  ui-sref="base.gettingstarted" ng-if="base.currentUser">Getting Started</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li ui-sref-active="active"><a href="" ui-sref="base.console" ng-if="base.currentUser">Console</a></li>
				<li ui-sref-active="active"><a href="" ui-sref="base.instancesList" ng-if="base.currentUser">Instances</a></li>
				<li ui-sref-active="active"><a href="" ui-sref="base.groupsList" ng-if="base.currentUser">Groups</a></li>
				<li ng-if="!base.currentUser"><a ui-sref="login">Log in</a></li>
				<li ng-if="!base.currentUser"><span>or</span></li>
				<li ng-if="!base.currentUser"><button class="btn btn-dark-blue navbar-btn" ui-sref="register">Sign up</button></li>
				<li class="link" ng-if="base.currentUser" uib-dropdown>
					<a href uib-dropdown-toggle>
						<i class="fa fa-user"></i>
					</a>
					<ul class="uib-dropdown-menu top-caret">
						<li class="dropdown-header">{{base.currentUser.FirstName + ' ' + base.currentUser.LastName}}</li>
						<li><a href ui-sref="base.account">Account</a></li>
						<li><a href ui-sref="base.support">Support</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="" ng-click="application.logout()"><i class="fa fa-power-off"></i> Logout</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
<main ui-view></main>
