#ConsoleContainer {
  display:flex;
  flex-flow:row nowrap;
  overflow:hidden;
}
#ConsoleMenu,
#Console {
  min-height:calc(~"100vh - "@navbar-height);
  max-height:calc(~"100vh - "@navbar-height);
}
#ConsoleMenu {
  overflow-y:auto;
  flex: 0 1 auto;
  min-width:@console-menu-width;
  max-width:@console-menu-width;
  //border-right:1px solid @list-group-border;
  ul {
    padding:0;
    margin:0;
  }
  li {
    list-style: none;
  }
  .section-list {
    > li {
      padding:10px;
      background-color:@console-log-bg;
      color:lighten(@console-log-bg, 70);
      font-weight:lighter;
      font-size:1.3em;
    }
  }
  .resource-list {
    > li {
      padding:0 5px;
      background-color:lighten(@console-log-bg, 20);
      &:first-child {
        padding-top:5px;
      }
      &:last-child {
        padding-bottom:5px;
      }
      a {
        transition:all 200ms ease-in-out;
        padding:7px 10px;
        display:block;
        border-radius:@border-radius-base;
        color:lighten(@console-log-bg, 70);
        &:focus,
        &:hover {
          color:lighten(@console-log-bg, 90);
          text-decoration: none;
          background-color:lighten(@console-log-bg, 10);
        }
        &.active {
          background-color:@four51-blue;
          color:white;
        }
      }
    }
  }
}

#Console {
  flex:1 0 auto;
  display:flex;
  flex-flow:row nowrap;
}

#Request,
#Response {
  flex:1;
}

#Request {
  max-width:@console-request-width;
  min-width:@console-request-width;
  padding:@padding-large-horizontal*2;
  overflow-y:auto;
  .body-title {
    color:white;
    background-color:@gray;
    margin:@padding-base-vertical 0 0;
    padding:@padding-base-vertical @padding-base-horizontal;
    .border-top-radius(4px);
  }
  .ace_editor {
    border-radius: 0 0 @border-radius-base @border-radius-base;
  }
}

#Response {
  max-width:calc(~'100vw - '(@console-menu-width + @console-request-width));
  display:flex;
  flex-flow:column nowrap;
}

#ResponseList {
  min-height:56px;
  flex:0 1 auto;
  max-height:200px;
  overflow-y:auto;
  overflow-x:hidden;
  background-color:@console-log-bg;
  padding:@padding-base-vertical @padding-base-horizontal;
  .apiRequestDisplay {
    cursor: pointer;
    pre {
      transition: all 200ms;
      margin-top:@padding-base-vertical;
      margin-bottom:0;
      border:0;
    }
  }
}

.apiRequestDisplay {
  display:flex;
  flex-flow:row nowrap;
  pre {
    &:first-child {
      border: 1px solid @brand-primary;
      background-color:@brand-primary;
      color:white;
      font-weight:bold;
      flex:1;
      max-width:75px;
      text-align:center;
      .border-right-radius(0);
    }
    &:last-child {
      flex:1;
      border-left:none;
      white-space:nowrap;
      overflow-x:hidden;
      .border-left-radius(0);
      display:flex;
      flex-flow:row nowrap;
      align-items:center;
      span {
        flex:0 1 auto;
        max-width:~'calc(100% - 20px)';
        overflow:hidden;
        &:nth-of-type(2) {
          flex: 1 0 auto;
        }
      }
      i {
        width:20px;
        text-align:center;
        flex:0 1 auto;
      }
/*      i {
        padding:20px;
        background-color:@pre-bg;
      }*/
    }
  }
  &.danger {
    pre {
      border-color:@brand-danger;
      &:first-child {
        background-color:@brand-danger;
      }
      &:last-child {
        color:@brand-danger;
        background-color:lighten(@brand-danger, 38);
      }
    }
  }
  &.success {
    pre {
      border-color:@brand-success;
      &:first-child {
        background-color:@brand-success;
      }
      &:last-child {
        color: @brand-success;
        background-color:lighten(@brand-success, 38);
      }
    }
  }
  &.disabled {
    pre {
      border-color:@gray;
      &:first-child {
        background-color:@gray-light;
      }
      &:last-child {
        color: @text-muted;
        background-color:lighten(@gray-lighter,5);
      }
    }
  }
}

.log-item-container {
  perspective:1000px;
  transition:height 400ms, opacity 300ms ease-out 100ms;
  .log-item {
    transition: transform 500ms;
    transform-style:preserve-3d;
    transform-origin:center bottom 0;
    height:44px;
    position:relative;
  }
  &.ng-enter {
    height:0;
    opacity:0;
    .log-item {
      transform:rotateX(90deg);
    }
  }
  &.ng-enter-active {
    height:44px;
    opacity:1;
    .log-item {
      transform:rotateX(0deg);
    }
  }
}

#ResponseBody {
  flex:1 0 auto;
}

.context-list-item {
  display:flex;
  flex-flow:row nowrap;
  align-items:center;
  > div {
    &.context-info {
      flex:1 0 auto;
    }
    &.context-claims {
      flex:0 1 auto;
      padding-right:15px;
    }
  }
  > [uib-dropdown],
  > button {
    flex:0 1 auto;
  }
  [uib-dropdown] > .dropdown-menu {
    right:0;
    left:auto;
  }
}

.console-selector {
  background-color:@gray-lighter;
  display:flex;
  flex-flow:row nowrap;
  border-radius:@border-radius-base;
  & > span {
	padding:@padding-base-vertical*2 @padding-base-horizontal;
  }
  pre {
    flex:1;
    padding:0 @padding-base-horizontal;
    margin:@padding-base-vertical*2 0;
    border-radius:0;
    background-color:transparent;
    border:none;
    border-left:1px solid darken(@gray-lighter, 15);
  }
  button {
    font-weight:bold;
    float:right;
    border:none;
    .border-left-radius(0);
  }
  .dropdown-menu {
    background-color:@gray-lighter;
    border:none;
    top:90%;
    box-shadow:none;
    border-radius:0 0 4px 4px;
  }
}