<article id="AboutPage">
    <figure>
        <img class="img-responsive" src="assets/images/orderCloudBackground.jpg" alt=""/>
    </figure>
    <section id="FirstSection">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h3>
                        <img class="img-responsive" src="assets/images/bulb.svg" alt="" />
                        Why Use OrderCloud
                    </h3>
                    <hr/>
                    <p class="text-muted">OrderCloud enables you to empower your customers with friendly ordering environments, reduce costs, and drive operational efficiencies. Too many businesses are wasting money and losing customers because of legacy systems, inefficiencies, errors and outdated processes. There's a better way to do B2B eCommerce -- OrderCloud is that better way.</p>
                </div>
                <hr class="visible-xs"/>
                <div class="col-sm-6">
                    <h3>
                        <img class="img-responsive" src="assets/images/unique.svg" alt="" />
                        Our Solution. Yours. Or the Best of Both
                    </h3>
                    <hr/>
                    <p class="text-muted">Our multi-tenant cloud platform enables fully customized B2B eCommerce solutions. The OrderCloud Dev Center features a secure and extendable data model, REST API, and rapid development tools.</p>
                </div>
            </div>
        </div>
    </section>
    <section id="SecondSection">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <figure>
                        <img class="img-responsive" src="assets/images/ess.png" alt="" />
                    </figure>
                </div>
                <div class="col-sm-8">
                    <h2>Designed with the developers in mind...</h2>
                    <p class="lead">Empower your customers with environments optimized by company, group, or the individual. Develop for mobile and tablet users. Build off of our core
                        components to get to your custom solution that improves your customers' buying  experiences.</p>
                </div>
            </div>
        </div>
    </section>
    <section id="ThirdSection">
        <div class="container">
            <h2><b>End-to-End Commerce through Integrations</b></h2>
            <p class="lead">
                Work with your channel partners seamlessly through integration strategies that extend the use of the platform and help streamline workflows.
            </p>
            <div class="row">
                <div class="col-sm-6">
                    <figure>
                        <img src="assets/images/crm_icon1.svg" class="img-responsive"  />
                    </figure>
                    <h3>ERP Integrations</h3>
                    <p>Comprehensive tools and features allow for end-to-end integration with your
                        systems. Receive order data and send back shipment data, manage catalog/user data,
                        and build custom handling of the checkout process.</p>
                </div>
                <div class="col-sm-6">
                    <figure>
                        <img src="assets/images/crm_icon2.svg" class="img-responsive" />
                    </figure>
                    <h3>CRM Integrations</h3>
                    <p>Whether it is Single Sign On Integration, a PunchOut Integration with your
                        procurement system, or an integration with any other back office system,
                        Four51 can work with your existing
                        business infrastructure.</p>
                </div>
            </div>
        </div>
    </section>
    <section id="FourthSection">
        <div class="container text-center">
            <h3><b>OrderCloud is trusted by...</b></h3>
            <hr/>
            <div class="row">
                <div class="col-sm-4">
                    <div class="well well-lg">
                        <figure>
                            <img src="assets/images/papa_johns_about.png" class="img-responsive" >
                        </figure>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="well well-lg">
                        <figure>
                            <img src="assets/images/turtle-wax-logo.png" class="img-responsive" >
                        </figure>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="well well-lg">
                        <figure>
                            <img src="assets/images/Burroughs_logo.png" class="img-responsive" >
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
<footer id="OrderCloudFooter">
    <div class="container">
        <h4 class="text-center"><b>Four51 powers B2B eCommerce for thousands of businesses and millions of users worldwide.</b></h4>
        <div class="row">
            <div class="col-sm-4" id="Resources">
                <p class="lead">Resources</p>
                <div class="row">
                    <div class="col-sm-6">
                        <a class="text-white" href="" ui-sref="base.seed">AngularJS Seed</a><br/>
                        <a class="text-white" href="" ui-sref="base.sdk">AngularJS SDK</a>
                    </div>
                    <div class="col-sm-6">
                        <a class="text-white" href="" ui-sref="base.components">Components Overview</a><br/>
                        <a class="text-white" href="" ui-sref="base.integrations">Integrations Overview</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" id="Social">
                <p class="lead">Social</p>
                <a target="_blank" href="https://twitter.com/Four51inc"><i class="fa fa-twitter"></i></a>
                <a target="_blank" href="https://www.facebook.com/Four51/"><i class="fa fa-facebook"></i></a>
                <a target="_blank" href="https://www.youtube.com/channel/UCYWvk0ccQetjEYjW8pa_QkA"><i class="fa fa-youtube-play"></i></a>
                <a target="_blank" href="https://www.linkedin.com/company/four51"><i class="fa fa-linkedin"></i></a>
            </div>
            <div class="col-sm-4" id="Four51">
                <p class="lead">Find more about</p>
                <figure>
                    <img class="img-responsive" src="/assets/images/four51.png" alt=""/>
                </figure>
                <a class="btn btn-sm btn-link" href="http://public.four51.com/"> CLICK HERE</a>
            </div>
        </div>
        <div class="text-center">
            <a class="" ui-sref="base.home"><ordercloud-logo data-width="275px" data-height="60px" data-color="#FFFFFF"></ordercloud-logo></a>
            <small class="text-white">Copyright@Four51, Inc.2015 400N 1st Avenue, Suite 200, Minneapolis, MN 55401</small>
        </div>
    </div>
</footer>