<div id="DevGroupList" class="container" ng-if="base.currentUser.CreateGroups || devGroups.acceptedList.length || devGroups.pendingList.length">
	<div class="row">
		<div class="col-sm-5">
			<form novalidate autocomplete="off" ng-show="devGroups.activeTab == 'accepted'">
				<input type="search" class="form-control" ng-model="devGroups.searchTerm" aria-label="Find a group" placeholder="Find a group..."/>
			</form>
		</div>
		<div class="col-sm-7 text-right">
			<div class="btn-group">
				<button class="btn btn-default" ng-class="{active:devGroups.activeTab == 'accepted'}" ng-click="devGroups.setTab('accepted')">Groups <span class="badge">{{devGroups.acceptedList.length}}</span></button>
				<button class="btn btn-default" ng-class="{active:devGroups.activeTab == 'pending'}" ng-click="devGroups.setTab('pending')">Invites <span class="badge">{{devGroups.pendingList.length || '0'}}</span></button>
			</div>
			<button class="btn btn-success" ui-sref="base.newGroup"  ng-if="base.currentUser.CreateGroups"><i class="fa fa-plus-circle"></i> New Group</button>
		</div>
	</div>
	<hr/>
	<div class="row" ng-show="devGroups.activeTab == 'accepted'">
		<div class="col-sm-6" ng-repeat="group in devGroups.acceptedList | filter:devGroups.searchTerm">
			<div class="panel panel-default group-panel">
				<div class="panel-body">
					<button class="btn btn-default pull-right" ng-click="devGroups.leaveGroup(this)"><b class="text-danger">Leave</b></button>
					<h4><b><a href="" ui-sref="base.groupDetail({groupID:group.ID})">{{group.Name}}</a></b></h4>
					<p class="text-muted">{{(group.Members | filter:{Accepted:true}).length + ' member' + ((group.Members | filter:{Accepted:true}).length == 1 ? ' | ' : 's | ') + group.Instances.length + ' instance' + (group.Instances.length == 1 ? '' : 's') }}</p>
				</div>
				<div class="panel-footer">
					<div class="group-member-bite" ng-repeat="member in group.Members | filter:{Accepted:true}" uib-tooltip="{{member.Username}}" tooltip-placement="bottom">
						{{member.FirstName[0] + member.LastName[0] | uppercase}}
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12" ng-if="!devGroups.acceptedList.length && base.currentUser.CreateGroups">
			<div class="well well-lg text-center">
				<p class="lead">You currently do not belong to any groups, <a href="" ui-sref="base.newGroup">create one now</a></p>
			</div>
		</div>
		<div class="col-xs-12" ng-if="!devGroups.acceptedList.length && !base.currentUser.CreateGroups && devGroups.pendingList.length">
			<div class="well well-lg text-center">
				<p class="lead">You currently do not belong to any groups, <a href="" ng-click="devGroups.setTab('pending')">view your invites</a> and accept a pending invitation.</p>
			</div>
		</div>
		<div class="col-xs-12" ng-if="devGroups.acceptedList.length && !(devGroups.acceptedList | filter:devGroups.searchTerm).length">
			<div class="well well-lg text-center">
				<p class="lead"><i class="fa fa-search"></i> We couldn't find any groups that match your search</p>
			</div>
		</div>
	</div>
	<div ng-show="devGroups.activeTab == 'pending'">
		<div ng-repeat="group in devGroups.pendingList">
			<div class="panel panel-default group-panel">
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-5">
							<h4><b>{{group.Name}}</b></h4>
							<p class="text-muted">{{group.Description}}</p>
						</div>
						<div class="col-xs-7 text-right">
							<div class="btn-group">
								<button class="btn btn-success" ng-click="devGroups.acceptInvite(this)">Accept</button>
								<button class="btn btn-danger" ng-click="devGroups.declineInvite(this)">Decline</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div ng-if="!devGroups.pendingList.length">
			<div class="well well-lg text-center">
				<p class="lead">You do not have any pending group invitations.</p>
			</div>
		</div>
	</div>
</div>
<div id="DevGroupList" class="container" ng-if="!base.currentUser.CreateGroups && !devGroups.acceptedList.length && !devGroups.pendingList.length">
	<div class="well well-lg text-center">
		<p class="lead">You do not belong to a development group and do not have permission to create one
			<br/> Contact Four51 for group admin capabilities or request an invite from a group admin.</p>
	</div>
</div>